<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_category  = $block->getCurrentCategory();
    $_imgHtml   = '';
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $categoryImageBlock = $objectManager->create('Kensium\CategoryImages\Block\CategoryImages')->getCurrentCategoryBanner();
?>  
<?php if ($_imgUrl = $categoryImageBlock): ?>
	<?php 
		$_imgHtml = '<img src="' . $_imgUrl . '" alt="' . $block->escapeHtml($_category->getName()) . '" title="' . $block->escapeHtml($_category->getName()) . '" class="image" />';
		$_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
	?>
	<div class="category-description">
		<div class="row">
			<div class="item col-sm-12 col-xs-12 nopadding category-banner">
				<div class="overlay-box">
					<?php if ($_description = $_category->getDescription()): ?>
						<div class="overlay-wrap">
							<div class="text-overlay">
								<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($_category, $_description, 'description') ?>
							</div>
						</div>
					<?php endif; ?>
					<?php echo $_imgHtml; ?>
				</div>
			</div>
		</div>
	</div>
<?php endif;?>
<?php 
	$navigation = $objectManager->get('\Magento\Catalog\Block\Navigation');
	$_categories = $navigation->getCurrentChildCategories();
	$_count = is_array($_categories) ? count($_categories) : $_categories->count();
	$parent_id = $_category->getParentCategory()->getId();
?>
<?php if(count($_GET) == 0 && $_count && $parent_id == 2) : ?>
	<div class="category-view">
		<div class="category-cms">
			<h1>CATEGORIES</h1>
			<div class="row row-centered">
				<?php $count = 0; ?>
				<?php foreach ($_categories as $_category): ?>
					<?php if($count == 8) break; ?>
					<?php if ($_category->getIsActive()): ?>
						<?php
							$categoryModel = $objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId());
							$img_url = $categoryModel->getImageUrl();
						?>
						<div class="item col-sm-3 col-xs-6 nopadding sub-categories col-centered">
							<div class="overlay-box">
								<div class="overlay-wrap">
									<div class="text-overlay ">
										<p><a href="<?php echo $navigation->getCategoryUrl($_category) ?>"><span class="product-title"><?php echo $navigation->escapeHtml($_category->getName()) ?><span class="owl-next"></span></span></a></p>
									</div>
								</div>
								<img src="<?php echo $img_url ?>" alt="<?php echo $navigation->escapeHtml($_category->getName()) ?>">
							</div>
						</div>
						<?php $count++; ?>
					<?php endif; ?>
				<?php endforeach ?>
			<div class="clear"></div>
		</div>
	</div>
</div>
<?php
	$current_category_obj = $objectManager->get('\Magento\Framework\Registry')->registry('current_category');
	$bestseller = $objectManager->get('\Kensium\Productcollection\Block\Bestseller');
	$bestseller_collection = $bestseller->getBestSeller();
?>
<?php if (count($bestseller_collection)):?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $bestseller_collection;

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    $RatingOb=$objectManager->create("Magento\Review\Model\Review");
    $RatingOb=$objectManager->get("Magento\Review\Model\ReviewFactory");
    $image_block = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
?>
<div class="category-view">
	<div class="category-cms">
		<div class="widget block block-static-block">
			<div class="category-best-sellers margin-tp-85">
				<h1><?php echo 'Top '.$current_category_obj->getName() ?></h1>
			</div>
		<div class="block widget block-products-list grid ">
			<div class="block-content">
				<div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
					<div class="owl-carousel margin-tp-50 owl-theme owl-loaded" id="bestseller-carousel">
						<?php $iterator = 1; ?>
						<?php foreach ($items as $_item): ?>
						<div class="owl-item">
							<div class="item homefeaturedproduct">
								<div class="product-item-info" data-container="product-grid">
									<a href="<?php echo $_item->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1"><?php echo $image_block->getImage($_item, 'category_page_grid')->toHtml(); ?></a>
									<?php echo $block->getProductDetailsHtml($_item); ?>
									<div class="product details product-item-details">
										<div class="brand-name">
											<?php 
												$attr = $_item->getResource()->getAttribute('manufacturer');
												if ($attr->usesSource()) {
												echo $optionText = $attr->getSource()->getOptionText($_item->getManufacturer());
												}
											?>
										</div>
										<a class="product-item-link" href="<?php echo $_item->getProductUrl() ?>">
											<strong class="product name product-item-name">
												<?php echo $_item->getName() ?>
											</strong>
										</a>
										<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item) ?>
									</div>
							
									<?php
										$product=$objectManager->create("Magento\Catalog\Model\Product")->load($_item->getId());
										$RatingOb->create()->getEntitySummary($product, 1);      
									?>
									<?php if($product->getRatingSummary()->getRatingSummary()): ?>
									<div class="product-reviews-summary">
										<div class="rating-summary">
											<span class="label">
												<span>Rating:</span>
											</span>
											<div class="rating-result" title="<?php echo $product->getRatingSummary()->getRatingSummary() ?>%">
												<span style="width: <?php echo $product->getRatingSummary()->getRatingSummary() ?>%;">
													<span>
														<span><?php echo $product->getRatingSummary()->getRatingSummary() ?></span>% of <span>100</span>
													</span>
												</span>
											</div>
										</div>
									</div>
									<?php endif; ?>
									<div class="product-labels">
										<?php if($bestseller->getIsNew($_item)): ?>
											<button class="button sale"><span><span>New</span></span></button>
										<?php endif; ?>
										<?php if($_item->getIsSale()): ?>
											<button class="button sale"><span><span>Sale</span></span></button>
										<?php endif; ?>
										<?php if($bestseller->getIsBestSeller($_item)): ?>
											<button class="button sale"><span><span>Best Seller</span></span></button>
										<?php endif; ?>
									</div>
								</div>
							</div>
						</div>
						<?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
					<?php endforeach ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function() {

      jQuery("#bestseller-carousel").owlCarousel({
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            margin: 10,
            nav: true,
            navText: ["&lt;em class='porto-icon-left-open-huge' title='previous'&gt;&lt;/em&gt;","&lt;em class='porto-icon-right-open-huge' title='next'&gt;&lt;/em&gt;"],
            dots: false,
            navRewind: true,
            animateIn: 'fadeIn',
            animateOut: 'fadeOut',
            loop: true,
            responsive: {
                0: {
                    items:1
                },
               480: {
                    items:2
                },
                768: {
                    items:3
                },
                992: {
                    items:4
                },
                1200: {
                    items:5
                }
            }
        });

    });
    </script>
    </div>
<?php endif;?>

<?php 
	$brands = $objectManager->get('\Emizentech\ShopByBrand\Block\Index');
	$featured = $brands->getFeaturedBrands();
	$media = $brands->getImageMediaPath();
?>
<?php if(count($featured)): ?>
	<div class=" category-brands popular-brands">
		<h1>Popular Brands</h1>
		<ul>
			<?php $count = 0; ?>
			<?php foreach($featured as $_fbrand):?>
				<?php if($count == 12) break; ?>
				<li>
					<span></span>
					<?php if($_fbrand->getUrlKey()):?>
						<a href="<?php echo $brands->getUrl('brand').$_fbrand->getUrlKey()?>">
					<?php else:?>
						<a href="<?php echo $brands->getUrl('brand/view/',array('id'=>$_fbrand->getId()));?>">
					<?php endif;?>
							<img class="f-barnd-img" src="<?php echo $media.$_fbrand->getLogo() ?>" title="<?php echo $_fbrand->getName();?>" alt="<?php echo $_fbrand->getName();?>" style="height:100px"/>
						</a>
				</li>
				<?php $count++; ?>
			<?php endforeach;?>
		</ul>
	</div>
<?php endif; ?>
<?php endif; ?>
