<!-- Email Cart-->
<!--@subject Your Cart @-->
{{trans "%message" message=$data.message}}
{{template config_path="design/email/header_template"}}
{{block class="Magento\Framework\View\Element\Template" template="Kensium_EmailCart::emailcart/items.phtml" items=$items }}
<tfoot class="order-totals">
 <tr>
        <th scope="row" colspan=3>
          
            <strong>Sub Total</strong>

        </th>
        <td>
           
            <strong>{{trans "%realtotalprice" realtotalprice=$data.realtotalprice}}</strong>
            
        </td>
    </tr>
 <tr>
        <th scope="row" colspan=3>
          
            <strong>Discount</strong>

        </th>
        <td>
           
            <strong>{{trans "%totaldiscountamount" totaldiscountamount=$data.totaldiscountamount}}</strong>
            
        </td>
    </tr>

 <tr>
        <th scope="row" colspan=3>
          
            <strong>Grand Total</strong>

        </th>
        <td>
           
            <strong>{{trans "%grandTotal" grandTotal=$data.grandTotal}}</strong>
            
        </td>
    </tr>
        </tfoot>
</table>



<p><a href="{{trans '%checkouturl' checkouturl=$data.checkouturl}}" >View Cart</a></p>


{{template config_path="design/email/footer_template"}}
