<?php
/** 
* @category  Sales
* @package    Kensium_CategoryImages
* @copyright  Copyright (c) 2016 Kensium Solution Pvt.Ltd. (http://www.kensiumsolutions.com/)
*/
?>
<div class="homepage-sales-block">
<?php
$categories = $this->getCategoryList();
$categoryHelper = $this->getCategoryHelper();
$imageCount = 0;
?>
    <div class="row">
<?php foreach ($categories as $category): ?>
    <div class="sale-item col-sm-3 col-xs-6 ">
    <div class="imgcount">
        <a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>">
            <div class="category-title"><span class="category-title-text"><?php echo $category->getName(); ?><i class="icon-arrow-right"></i></span></div>
            <img src="<?php echo $this->getImageUrl($category) ?>"></a></li>
        </div>
    </div>
<?php endforeach; ?>
    </div>

</div>
