<?php
/** 
* @category  Sales
* @package    Kensium_CategoryImages
* @copyright  Copyright (c) 2016 Kensium Solution Pvt.Ltd. (http://www.kensiumsolutions.com/)
*/
?>

<div class="homepage-sales-block">

   <!-- <h3 class="filterproduct-title"> <span class="content">Sales</span></h3>-->
<?php    
    $categories = $this->getCategoryList();
    $categoryHelper = $this->getCategoryHelper();
    $limit = 4;
    $imageCount = 0;
    ?>
    <div class="row">
        <?php foreach ($categories as $category): ?>

            <?php $this->getImageUrl($category); ?>
            <?php if (!$category->getIsActive()): ?>
                <?php continue; ?>
            <?php endif; ?>

            <?php if ($limit > $imageCount && $block->isOnHomePage($category->getId()) == 1 && $this->getImageUrl($category)): ?>
                <div class="col-sm-3 col-xs-6 ">
                    <div class="imgcount">
                        <a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>">
                            <div class="category-title"><span class="category-title-text"><?php echo $category->getName(); ?><i class="icon-arrow-right"></i></span></div>
                            <img src="<?php echo $this->getImageUrl($category) ?>"></a></li>
                        <?php $imageCount = $imageCount + 1; ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
    <!--<div class="sales-block-bottom"><a href="#" class="button seeall">See all Sales</a></div>
-->
</div>
<script>
    require(['jquery', 'jquery/ui'], function($){
        if($(window).width() >= 980) {
            var noOfImg = 0;
            $('.imgcount').each(function () {
                noOfImg = noOfImg + 1;
            })
            if (noOfImg < 4) {
                $('.homepage-sales-block').hide();
            }
        }
    });
</script>
