<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /** @var $block \MageWorx\OrderEditor\Block\Adminhtml\Sales\Order\Edit\Form\Items\Data */ ?>
<div class="page-create-order">
<script type="text/x-magento-init">
    require(["Magento_Sales/order/create/form"], function(){
        order.setCurrencySymbol('<?php /* @escapeNotVerified */ echo $block->getCurrencySymbol($block->getCurrentCurrencyCode()) ?>')
    });
</script>
    <div class="<?php if ($block->getCustomerId()): ?>order-details-existing-customer<?php endif; ?>">
        <section id="order-items" class="admin__page-section order-items" data-mage-init='{"loader": {}}'>
            <?php echo $block->getChildHtml('items') ?>
        </section>
        <div id="order-search" style="display: none" class="admin__page-section order-search-items">
            <?php echo $block->getChildHtml('search') ?>
        </div>
        <div class="actions">
            <?php echo $block->getSubmitButtonHtml() ?>
            <?php echo $block->getCancelButtonHtml() ?>
        </div>
    </div>
</div>
