<?php 
$brands = $this->getBrands();
$featured = $this->getFeaturedBrands();
$media = $this->getImageMediaPath();
$media = str_replace("pub/","",$this->getImageMediaPath());
$count = 1;
?>
<?php foreach($featured as $_fbrand):?>
	<?php if($count == 19) break; ?>
	<div class="ca-item ca-item-<?php echo $count ?>">
	<?php $count++; ?>
		<div class="ca-item-main">
			<?php if($_fbrand->getUrlKey()):?>
				<a href="<?php echo $this->getUrl('brand').$_fbrand->getUrlKey()?>">
			<?php else:?>
				<a href="<?php echo $this->getUrl('brand/view/',array('id'=>$_fbrand->getId()));?>">
			<?php endif;?>
			<?php if($_fbrand->getLogo()):?>
				<div class="brand-logo">
					<span></span>
					<img class="f-barnd-img" src="<?php echo $media.$_fbrand->getLogo() ?>" title="<?php echo $_fbrand->getName();?>" alt="<?php echo $_fbrand->getName();?>" style="height:100px"/>
				</div>
			<?php else:?>
			<span class="brand-title">
				<?php echo $_fbrand->getName();?>
			</span>
			<?php endif;?>
			</a>
		</div>
	</div>			
<?php endforeach;?>
