<?php
$brands = $this->getBrands();
$featured = $this->getFeaturedBrands();
$media = $this->getImageMediaPath();
?>
<style>
    .brand-char {
        min-width: 300px;
        float: left;
        min-height: 130px;
    }
</style>
<h1>Sensational Brands</h1>
<div class="popular-brands">
    <h2>Popular</h2>
    <ul>
        <?php foreach ($featured as $_fbrand): ?>
            <li>
                <?php if ($_fbrand->getUrlKey()): ?>
                <a href="<?php echo $this->getUrl('brand') . $_fbrand->getUrlKey() ?>">
                    <?php else: ?>
                    <a href="<?php echo $this->getUrl('brand/view/', array('id' => $_fbrand->getId())); ?>">
                        <?php endif; ?>
                        <?php if ($_fbrand->getLogo()): ?>
                            <img class="f-barnd-img" src="<?php echo $media . $_fbrand->getLogo() ?>"
                                 title="<?php echo $_fbrand->getName(); ?>" alt="<?php echo $_fbrand->getName(); ?>"
                                 style="height:100px"/>
                        <?php else: ?>
                            <?php echo $_fbrand->getName(); ?>
                        <?php endif; ?>
                    </a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>

<!-- All Brands -->

<div class="brands-all">
    <h2>Brands A-Z</h2>
    <?php $brand_chars = array(); ?>
    <?php foreach (range('A', 'Z') as $char) : ?>
		<?php if (isset($brands[$char])): ?>
			<?php array_push($brand_chars,$char); ?>
		<?php endif; ?>
	<?php endforeach; ?>
	
    <div id="charaters-list" class="filter">
        <ul>
            <li class="charlist"><a class="selected" href="#">#</a></li>
            <?php foreach (range('A', 'Z') as $char) : ?>
				<li class="charlist">
					<?php if (in_array($char, $brand_chars)): ?>
						<a href="#"><?php echo $char ?></a>
					<?php else: ?>
						<span><?php echo $char ?></span>
					<?php endif; ?>
				</li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php foreach (range('0', '9') as $char) :?>
    <?php if (isset($brands[$char])): ?>
        <div class="brand-char">
            <strong> #  <?php echo $char; ?></strong>
            <ul>
                <?php foreach ($brands[$char] as $_brand): ?>

                    <li>
                        <?php if ($_brand->getUrlKey()): ?>
                            <a href="<?php echo $this->getUrl('brand') . $_brand->getUrlKey() ?>"><?php echo $_brand->getName(); ?></a>
                        <?php else: ?>
                            <a href="<?php echo $this->getUrl('brand/view/', array('id' => $_brand->getId())); ?>"><?php echo $_brand->getName(); ?></a>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>
<?php endforeach; ?>
<div class="brands">
    <?php foreach (range('A', 'Z') as $char) : ?>
        <?php if (isset($brands[$char])): ?>
            <div class="brandslist-group first  col-xs-12 col-sm-4 col-md-4">
                <div id="<?php echo $char ?>" class="brandslist collapsible mobile-collapsible">
                    <div class="brand-begin-label block-title heading"><strong><?php echo $char; ?></strong></div>
                    <div class="block-content no-display">
                        <ul>
                            <?php foreach ($brands[$char] as $_brand): ?>
                                <li class="charlist">
                                    <?php if ($_brand->getUrlKey()): ?>
                                        <a href="<?php echo $this->getUrl('brand') . $_brand->getUrlKey() ?>"><?php echo $_brand->getName(); ?></a>
                                    <?php else: ?>
                                        <a href="<?php echo $this->getUrl('brand/view/', array('id' => $_brand->getId())); ?>"><?php echo $_brand->getName(); ?></a>
                                    <?php endif; ?>
                                </li>
                                
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<script>
	jQuery(document).ready(function(){
		jQuery(".brands-all .filter .charlist > a").click(function(e){
			e.preventDefault();
			jQuery(".brands").prepend("<div class='loading'></div>");
			jQuery(".brands-all .filter .charlist a").removeClass("selected");
			jQuery(this).addClass("selected");
			jQuery(".brands .brandslist-group").hide();
			var filter_text = jQuery(this).text();
			if( filter_text != '#')
			{
				jQuery(".brands .brandslist-group").each(function(){
					if(jQuery(this).find(".brandslist").attr('id') == filter_text )
					jQuery(this).show();
				});
				 
			}
			else
				jQuery(".brands .brandslist-group").show();
			jQuery(".brands > .loading").remove();
		});
	});
</script>
