<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /** @var $block \MageWorx\OrderEditor\Block\Adminhtml\Sales\Order\Edit\Form\Address */ ?>
<fieldset class="admin__fieldset">
    <div class="order-address admin__fieldset" id="<?php echo $block->escapeHtml($block->getFormId()) ?>">
        <?php echo $block->getForm()->toHtml() ?>
        <?php echo $block->getSubmitButtonHtml() ?>
        <?php echo $block->getCancelButtonHtml() ?>
    </div>
</fieldset>
