<?php
/**
 * Copyright © 2015 Kensiumcommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Kensium\PrintingCarts\Block\Printing\Carts
 */
?>
<?php 

$block->testBlock();

$block->createPDF();

?>