<?php
/**
 * @category   Kensium
 * @package    Kensium_Productcollection
 * @copyright  Copyright (c) 2016 Kensium Solution Pvt.Ltd. (http://www.kensiumsolutions.com/)
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>

<?php
$_productCollection = $block->getBestSeller();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<?php if (!$_productCollection->count()): ?>

    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
<h1 style="text-align:center;"><?php echo __('Best Sellers'); ?></h1>
	<?php 
		$RatingOb=$_objectManager->create("Magento\Review\Model\Review");
		$RatingOb=$_objectManager->get("Magento\Review\Model\ReviewFactory");
	?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="block widget block-products-list grid ">
      <div class="block-content">
        <div class="products-grid grid">
        <?php $iterator = 1; 
        $showWishlist = true;
        $showCompare = true;
        $showCart = true;
        ?>
        <div class="loop owl-carousel" id="best-sellers">
       

            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
               <div class="item homefeaturedproduct">

                            <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?php echo $productImage->toHtml(); ?>
                    </a>
                    <div class="product details product-item-details"> <?php echo $_objectManager->get('\Magento\Catalog\Block\Product\ListProduct')->getProductDetailsHtml($_product); ?></div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                        <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                        <?php
							$product=$_objectManager->create("Magento\Catalog\Model\Product")->load($_product->getId());
							$RatingOb->create()->getEntitySummary($product, 1);      
						?>
						<?php if($product->getRatingSummary()->getRatingSummary()): ?>
							<div class="product-reviews-summary">
								<div class="rating-summary">
									<span class="label">
										<span>Rating:</span>
									</span>
									<div class="rating-result" title="<?php echo $product->getRatingSummary()->getRatingSummary() ?>%">
										<span style="width: <?php echo $product->getRatingSummary()->getRatingSummary() ?>%;">
											<span>
												<span><?php echo $product->getRatingSummary()->getRatingSummary() ?></span>% of <span>100</span>
											</span>
										</span>
									</div>
								</div>
							</div>
						<?php endif; ?>
                        <div class="product-labels">
								<?php if($block->getIsNew($_product)): ?>
									<button class="button sale"><span><span>New</span></span></button>
								<?php endif; ?>
								<?php if($_product->getIsSale()): ?>
									<button class="button sale"><span><span>Sale</span></span></button>
								<?php endif; ?>
								<?php if($block->getIsBestSeller($_product)): ?>
									<button class="button sale"><span><span>Best Seller</span></span></button>
								<?php endif; ?>
							</div>
                    </div>  
                </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
          </div>
    </div>
    </div></div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
    <script>
    jQuery(document).ready(function() {

      jQuery("#best-sellers").owlCarousel({
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            margin: 10,
            nav: true,
            navText: ["<em class='porto-icon-left-open-huge' title='previous'></em>","<em class='porto-icon-right-open-huge' title='next'></em>"],
            dots: false,
            navRewind: true,
            animateIn: 'fadeIn',
            animateOut: 'fadeOut',
            loop: true,
            responsive: {
                0: {
                    items:1
                },
               480: {
                    items:2
                },
                768: {
                    items:3
                },
                992: {
                    items:4
                },
                1200: {
                    items:5
                }
            }
        });

    });
    </script>
