
<form method="post" action="<?php echo $block->getUrl('emailcart/emailcart/index'); ?>" >
    <div class="control">
        <label for="idemailid" >Email Address, Separated By Commas</label>    <textarea class="input-text" id="idemailid" name="eamilids" ></textarea>
    </div>
    <div class="control">
        <label for="idmsgtosend" >Message</label> <textarea class="input-text" id="idmsgtosend" name="msgtosend" ></textarea>
    </div>
    <input type="submit" value="Submit" />
</form>