 <table class="email-items">
        <thead>
            <tr>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('Item'); ?>
                </th>
		<th class="item-price">
                    <?= /* @escapeNotVerified */  __('Price'); ?>
                </th>
                <th class="item-qty">
                    <?= /* @escapeNotVerified */  __('Qty'); ?>
                </th>
                <th class="item-price">
                    <?= /* @escapeNotVerified */  __('Sub Total'); ?>
                </th>
            </tr>
        </thead>

<?php

/* Format Price */
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
    	$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper

foreach ($this->getItems() as $item):
    if($item->getParentItemId())        
        continue;
//print_r($item);
?>
    <tr>
        <td class="item-info"><?php echo $item->getName()?></td>
        <td class="item-price"><?php echo $priceHelper->currency($item->getPrice(), true, false)?></td>
        <td class="item-qty"><?php echo $item->getQty()?></td>
        <td class="item-price"><?php echo $priceHelper->currency($item->getRowTotal(), true, false)?></td>
    </tr>



<?php endforeach;
?>


