<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /** @var $block \MageWorx\OrderEditor\Block\Adminhtml\Sales\Order\Edit\Totals */ ?>
<section class="admin__page-section" id="ordereditor_new_totals">
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-totals">
            <legend class="admin__legend">
                <span><?php echo $block->escapeHtml(__('New Totals')) ?></span>
            </legend>
            <br>
            <table class="admin__table-secondary data-table" style="background-color: #E8FAD7;>
                <tbody>
                <?php echo $block->renderTotals(); ?>
                <?php echo $block->renderTotals('footer'); ?>
                </tbody>
            </table>
            <?php echo $block->getApplyButtonHtml() ?>
            <?php echo $block->getCancelButtonHtml() ?>
        </div>
    </div>
</section>
