<?php
/**
 * Solwin Infotech
 * Solwin Customer Feedback Extension
 *
 * @category   Solwin
 * @package    Solwin_CustomerFeedback
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/ 
 */
?>
<?php
$helper = $this->helper('Solwin\CustomerFeedback\Helper\Data');
$enableFeedback = $helper->getConfigValue('customerfeedbacksection/general/enable');
$enableCaptcha = $helper->getConfigValue('customerfeedbacksection/recaptcha/enable');
$captchaSitekey = $helper->getConfigValue('customerfeedbacksection/recaptcha/recaptcha_sitekey');
$captchaTheme = $helper->getConfigValue('customerfeedbacksection/recaptcha/recaptcha_theme');
$tabImage = $helper->getConfigValue('customerfeedbacksection/tabslider/imageslider');

$tabImageHeight = $helper->getConfigValue('customerfeedbacksection/tabslider/height');
$tabImageWidth = $helper->getConfigValue('customerfeedbacksection/tabslider/width');
$tabPosition = $helper->getConfigValue('customerfeedbacksection/tabslider/tabposition');
$sliderSpeed = $helper->getConfigValue('customerfeedbacksection/tabslider/speed');
$sliderAction = $helper->getConfigValue('customerfeedbacksection/tabslider/action');
$positionTop = $helper->getConfigValue('customerfeedbacksection/tabslider/positiontop');
$positionLeft = $helper->getConfigValue('customerfeedbacksection/tabslider/positionleft');
$fixPosition = $helper->getConfigValue('customerfeedbacksection/tabslider/fixposition');

$mediaUrl = $this->getMediaUrl();
$tabImageUrl = '';
if ($tabImage != '') {
    $tabImageUrl = $mediaUrl . 'tabsliderimages/' . $tabImage;
}else{
    $tabImageUrl = $mediaUrl . 'tabsliderimages/default/feedback.png';
}
?>
<?php
if ($enableFeedback) {
    ?>
    <div class="slide-out-div">
        <div class="handle"></div>
        <form class="form inquiry" action="<?php echo $helper->getFormAction(); ?>" id="feedback-form" method="post" data-hasrequired="<?php echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <div class="field name required">
                    <label class="label" for="name"><span><?php echo __('Name') ?></span></label>
                    <div class="control">
                        <input name="name" id="name" title="<?php echo __('Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field email required">
                    <label class="label" for="email"><span><?php echo __('Email') ?></span></label>
                    <div class="control">
                        <input name="email" id="email" title="<?php echo __('Email') ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="field name required">
                    <label class="label" for="phone"><span><?php echo __('Phone') ?></span></label>
                    <div class="control">
                        <input name="phone" id="phone" title="<?php echo __('Phone') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                    </div>
                    <div class="control">
                        <input name="callme" id="callme" title="<?php echo __('Call Me') ?>" type="checkbox" value="Yes" /><?php echo __('Call Me') ?>
                    </div>
                </div>
                <div class="field required">
                    <label class="label" for="website"><span><?php echo __('Website') ?></span></label>
                    <div class="control">
                        <input name="website" id="website" title="<?php echo __('Website') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field comment required">
                    <label class="label" for="message"><span><?php echo __('Message') ?></span></label>
                    <div class="control">
                        <textarea name="message" id="message" title="<?php echo __('Message') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
                    </div>
                </div>
                <?php
                if ($enableCaptcha) {
                    ?>
                    <div class="field comment">
                        <label class="label" for="captcha"><span><?php /* @escapeNotVerified */ echo __('ReCaptcha') ?></span></label>
                        <?php if ($captchaSitekey != '') { ?>
                            <div class="control">
                                <script src="https://www.google.com/recaptcha/api.js"></script>
                                <div class="g-recaptcha" data-sitekey="<?php echo $captchaSitekey; ?>" data-theme="<?php echo $captchaTheme; ?>"></div>
                            </div>
                        <?php } else { ?>
                            <p>Please enter site key & secret key to use captcha in form.</p>
                        <?php } ?>
                    </div>       
                <?php } ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <input type="hidden" name="status" value="1"/>
                    <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary">
                        <span><?php echo __('Submit') ?></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        require([
            'jquery', 'ctab'
        ], function () {
            jQuery('.slide-out-div').tabSlideOut({
                tabHandle: '.handle',
                pathToTabImage: '<?php echo $tabImageUrl; ?>',
                imageHeight: '<?php echo $tabImageHeight; ?>',
                imageWidth: '<?php echo $tabImageWidth; ?>',
                tabLocation: '<?php echo $tabPosition; ?>',
                speed: <?php echo $sliderSpeed; ?>,
                action: '<?php echo $sliderAction; ?>',
                topPos: '<?php echo $positionTop; ?>',
                leftPos: '<?php echo $positionLeft; ?>', 
                fixedPosition: <?php echo $fixPosition; ?>
            });
        });
    </script>
    <?php
}