<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
	<?php 
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$remoteAddress = $objectManager->create('Magento\Framework\HTTP\PhpEnvironment\RemoteAddress');
		$curl = $objectManager->create('Magento\Framework\HTTP\Client\Curl');
		$visitorIp = $remoteAddress->getRemoteAddress();
		$url = "freegeoip.net/json/" . $visitorIp;
		$curl->get($url);
		$response = json_decode($curl->getBody(), true);
		$zip_code = $stateCode = $response['zip_code'];
	?>
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
            <div class="control">
				<span class="decrease">-</span>
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <span class="increase">+</span>
            </div>
        </div>
        <?php endif; ?>
        <?php if($_product->getAvaiableStorePickOnly()): ?>
			<div class="only-pickup">
			   <div class="pick-up-intro">
				<p>This product is only available in stores</p>
				<a href="#see-stores" class="see-stores">See stores where its's available on the full details page</a>
				</div>
				<div class="stores" style="display: none;">
					<ul></ul>
					<div class="zip">
						<p class="find closed">I don't see stores in my area</p>
						<div class="zip-drop-down" style="display: none;">
							<input type="text" name="zipcode" class="user-zip" placeholder="Enter Zip Code" />
							<button class="find-by-zip">Find</button>
						</div>
					</div>
				</div>
			</div>
        <?php else: ?>
			<div class="product-store-pickup">
				<input type="checkbox" name="store-pickup" id="store-pickup">
				<label for="store-pickup">Buy Your order online,</label>
				<strong>Pick it up from a store</strong>
				<span class="pick-up-help-button">?</span>
				<div class="pick-up-help-info" style="display: none;">
					<strong>Store Pick-up:</strong>
					<p>Pay through our online checkout process and pick up your order from one of our stores. Your pick up store is where you will pick up all the items in your order. You'll select your pick-up store when you check the box.</p>
				</div>
			</div>
        
			<div class="actions">
				<button type="submit"
						title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
						class="action primary tocart"
						id="product-addtocart-button">
					<span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
				</button>
				<?php echo $block->getChildHtml('', true) ?>
			</div>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<script>
	jQuery(document).ready(function(){
		
		
		var baseurl = '<?php echo $block->getBaseUrl() ?>'+'storepickup/index/loadstores';
		var zip = '<?php echo $zip_code ?>';
		
			jQuery(document).on('change', '.store-checkbox', function(){
				var $box = jQuery(this);
				if ($box.is(":checked"))
				{
					var group = "input:checkbox[name='" + $box.attr("name") + "']";
					jQuery(group).prop("checked", false);
					$box.prop("checked", true);
				}
				else
				{
					$box.prop("checked", false);
				}
			
				if(jQuery(this).prop('checked')==true) 
				jQuery(".pick-date-btn").prop("disabled", false);
				else
				jQuery(".pick-date-btn").prop("disabled", true);
			});
			
			jQuery(".pick-date-btn").click(function(){
				jQuery(".store-pickup-popup").hide();
				jQuery(".product-store-pickup .selected-store").remove();
				jQuery(".product-store-pickup").append("<div class='selected-store'><div class='store-detail'>"+jQuery('.store-checkbox:checked').siblings(".store-detail").html()+"</div><div class='store-thumb'>"+jQuery('.store-checkbox:checked').siblings(".store-thumb").html()+"</div></div>");
			});
			
			
		
			jQuery(".pick-up-help-button").hover(function(){
				jQuery(".pick-up-help-info").toggle();
			});
			jQuery(".zip .find").click(function(){
				jQuery(".zip-drop-down").toggle();
				jQuery(this).toggleClass('open');
			});
			
			jQuery(".find-by-zip").click(function(e){
				jQuery(".stores-loaded").html("");
				jQuery(".zip .error").remove();
				e.preventDefault();
				if(!jQuery(".user-zip").val() || isNaN( jQuery(".user-zip").val()))
				{
					jQuery(".user-zip").val("");
					jQuery(".user-zip").parent().append("<span class='error'>Enter a valid zip code</span>");
					return false;
				}
				var sticky_height = 0;
				jQuery(".sticky-wrapper").each(function(){
					sticky_height += jQuery(this).height();	
				});
				jQuery(".stores ul").html("");
				if(jQuery(".only-pickup").length)
				{
					jQuery('html, body').animate({
						scrollTop: jQuery(".only-pickup").offset().top - sticky_height
					}, 500);
				}
				jQuery.post(baseurl,{ zipcode:jQuery(".user-zip").val() }).done(function( data )
				{
					if(data)
					{
						jQuery(".stores ul").html(data);
						jQuery(".stores-loaded").html("Your options have been successfully updated");
						jQuery(".form > .stores, .form > .pick-date-btn").show();
					}
					else
					{
						jQuery(".stores ul").html("<li class='no_store'>There are no stores. Please try with a different zip code.</li>");
						jQuery(".stores-loaded").html("");
						jQuery(".form > .zip > p").html("Sorry there are no stores in your area.<br/>Please try another zip code below.");
						jQuery(".form > .stores, .form > .pick-date-btn").hide();
					}
					jQuery(".store-pickup-popup").removeClass('loading');
					jQuery(".zip-drop-down").hide();
				});
			});
			
			jQuery(".see-stores").click(function(e){
				e.preventDefault();
				jQuery(this).hide().parent().siblings(".stores").show();
			});
			
			jQuery(document).ready(function()
			{
				jQuery.post(baseurl,{ zipcode:zip }).done(function( data )
				{	
					jQuery(".only-pickup .stores ul").html(data);
				});
			});
			
		jQuery("#store-pickup").change(function()
		{
			if(jQuery(this).is(":checked"))
			var checked = true;
			else
			var checked = false;
			if(checked)
			jQuery(".store-pickup-popup").show().addClass('loading');
			else
			{
				jQuery(".store-pickup-popup").hide();
				jQuery(".product-store-pickup .selected-store").remove();
			}
			jQuery(".stores-loaded").html("");
			
			
			jQuery.post(baseurl,{ checkbox_status: checked, zipcode:zip  }).done(function( data )
			{
				if(data)
				{
					jQuery(".store-pickup-popup .stores ul").html(data);
				}
				else
				{
					jQuery(".store-pickup-popup .stores").html("There are no stores. Please try with a different zip code.");
					jQuery(".stores-loaded").html("");
					
				}
				jQuery(".store-pickup-popup").removeClass('loading');
			});
		});
		jQuery(".increase").click(function(){
			jQuery(this).parent().find("#qty").val(parseInt(jQuery(this).parent().find("#qty").val())+1);
		});
		
		jQuery(".decrease").click(function(){
			if(parseInt(jQuery(this).parent().find("#qty").val()) > 1)
				jQuery(this).parent().find("#qty").val(parseInt(jQuery(this).parent().find("#qty").val())-1);
		});
	});
</script>
<?php endif; ?>
