<?php
	$product = $block->getProduct();
	$helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$brand_block = $objectManager->get('\Emizentech\ShopByBrand\Block\ProductBrand');
	$media = $brand_block->getImageMediaPath();
	$_fbrand = $brand_block->getBrand();
?>
<div class="product-info-main">
	<div class="brand-name">
		<span class="product-brand">
			<?php if($_fbrand->getUrlKey()):?>
				<a href="<?php echo $this->getUrl('brand').$_fbrand->getUrlKey()?>">
			<?php else:?>
				<a href="<?php echo $this->getUrl('brand/view/',array('id'=>$_fbrand->getId()));?>">
			<?php endif;?>
			<span class="brand-title">
				<?php echo $_fbrand->getName();?>
			</span>
			</a>
			<?php if($_fbrand->getLogo()):?>
				<img class="f-barnd-img" src="<?php echo $media.$_fbrand->getLogo() ?>" title="<?php echo $_fbrand->getName();?>" alt="<?php echo $_fbrand->getName();?>" style="height:40px"/>
			<?php else:?>
			<span class="brand-title">
				<?php echo $_fbrand->getName();?>
			</span>
			<?php endif;?>
		</span>
	</div>
	<div class="product-title"><?php echo $product->getName() ?></div>
	<div class="sku">SKU <?php echo $product->getSku() ?></div>
</div>
