<?php $_product = $block->getProduct(); ?>
<?php $productUrl = $_product->getProductUrl(); ?>
<?php $productName = $_product->getName(); ?>
<a class="action mailto friend" href="#share"><span>Share</span></a>
<div class="share-dropdown" style="display: none;">
  <div class="share-dropdown-inner">
     <p class="share-close">X</p>
     <p class="share-title">Share this product</p>
	<a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="Share on Facebook" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
	<a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="Tweet" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
	<a href="javascript:popWin('https://pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl); ?>&media=<?php //echo urlencode($productImage); ?>&description=<?php echo urlencode($productName); ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="Pin it" class="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i>Pinterest</a>


	<script type="text/javascript">
		require(['jquery'],function($){
			$(document).ready(function(){
				$(".action.mailto.friend").click(function(e){
					e.preventDefault();
					$(".share-dropdown").show();
				});
				jQuery(".share-dropdown .share-close").click(function(){
					jQuery(".share-dropdown").hide();
				});
			});
		});
	</script>
	
</div>
</div>