<div class="store-pickup-popup popup" style="display: none;" data-popup="popup-1">
	<div class="popup-inner">
		<span class="back-to-product">Back to product</span>
		<span class="close popup-close">X</span>
		<div class="stores-content">
			 <h1>Select a store for pick-up</h1>
		<!-- 	<p class="pick-up">For all <strong>Store Pick-up</strong> products in your order</p> -->
			<div class="form">
				<div class="zip">
					<p>Enter zip code to update  your options below</p>
					<input type="text" name="zipcode" class="user-zip" placeholder="Enter Zip Code" />
					<button class="find-by-zip">Update</button>
				</div>
				<span class="stores-loaded"></span>
				<div class="stores">
					<ul></ul>
				</div>
				<button disabled class="pick-date-btn">Done</button>
			</div>
		</div>
		<script>
			jQuery(document).ready(function(){
				jQuery(".store-pickup-popup .back-to-product, .store-pickup-popup .close").click(function(){
					jQuery(".store-pickup-popup").hide();
				});
			});
		</script>
	</div>
</div>
