<?php
$product = $block->buildProductImages();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
$scopeConfig = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');
$images = $product->getMediaGalleryImages();
//$_imagehelper = $objectManager->create('Magento\Catalog\Helper\Image');
?>
<?php if (count($images)): ?>
    <div class="form-group">
        <!--<label class="control-label">Other Colors</label>-->
        <div class="other-colors colorswatches-owl-slider">
            <?php foreach($images as $image): ?>
		<?php $imageUrl = $this->helper('Magento\Catalog\Helper\Image')->init($product, 'product_page_image_small')
                        ->constrainOnly(true)->keepAspectRatio(true)->keepFrame(false)
                        ->setImageFile($image->getFile())
                        ->getUrl();  ?>
                <a href="javascript:vaoid(0);">
                
                    <?php if ($product->getImage() != 'no_selection' && $product->getImage()){ ?>
                        <img src="<?php echo  $imageUrl?>"
                            alt="<?php echo $product->getName() ?>"
                            title="<?php echo $product->getName() ?>"
                            width="50"
                            height="50" />
                    <?php }else{ ?>
                        <img src="<?php echo  $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product/placeholder/'.$scopeConfig->getValue('catalog/placeholder/image_placeholder')?>"
                             alt="<?php echo $product->getName() ?>"
                             title="<?php echo $product->getName() ?>"
                             width="50"
                             height="50" />
                    <?php } ?>
                   
                </a>
            <?php endforeach; ?>
        </div>
    </div>


<?php endif ?>
