<?php
/** 
* @category  Sales
* @package    Kensium_CategoryImages
* @copyright  Copyright (c) 2016 Kensium Solution Pvt.Ltd. (http://www.kensiumsolutions.com/)
*/

$otherColorProducts = $block->buildColorSwatches();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
$scopeConfig = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');
?>
<?php if ($otherColorProducts && count($otherColorProducts)): ?>
    <div class="form-group">
        <!--<label class="control-label">Other Colors</label>-->
        <div class="other-colors colorswatches-owl">
            <?php foreach($otherColorProducts as $product): ?>
                <?php $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product/' . $product->getImage();?>
               <a href="<?php echo $block->getProductUrl($product)?>">
                <?php if ($product->getImage() != 'no_selection' && $product->getImage()){?>
                    <img src="<?php echo  $imageUrl?>"
                        alt="<?php echo $product->getName() ?>"
                        title="<?php echo $product->getColor() ?>"
                        width="50"
                        height="50" />
                <?php }else{  ?>
                    <img src="<?php echo  $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product/placeholder/'.$scopeConfig->getValue('catalog/placeholder/image_placeholder')?>"
                         alt="<?php echo $product->getName() ?>"
                         title="<?php echo $product->getColor() ?>"
                         width="50"
                         height="50" />
                    <?php } ?>
                </a>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif ?>

<script>
    require(['jquery', 'jquery/ui','kensticky'], function ($) {


        if (jQuery(window).width() <= 667) {

            var divs = jQuery(".ca-item");
            for(var i = 0; i < divs.length; i+=3) {

                divs.slice(i, i+3).wrapAll("<div class='ca-item-slider item' /></div>");
            }

        }
    });

    jQuery(document).ready(function(){
        totalSwatches = jQuery('.colorswatches-owl').find('.owl-item').size();
        clonedSwatches = jQuery('.colorswatches-owl').find('.owl-item.cloned').size();
        colorSwatches = totalSwatches - clonedSwatches;
        if(colorSwatches <= 6){
            jQuery('.colorswatches-owl').find('.owl-controls').hide();
        }
    });
</script>
