<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block newsletter">
    <div class="title"><strong>Newsletter</strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">

                <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Email') ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('SIGN&nbsp;UP') ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('SIGN&nbsp;UP') ?></span>
                </button>
            </div>
        </form>
    </div>
    <div class="newsletterfooter-success" style="display:none;">Thanks for signing up!<br> Checkout your inbox for special offers</div>
    <div class="newsletterfooter-error"   style="display:none;">This email address is already assigned to another user.</div>
</div>
<div class="clearfix"></div>
