/**
 * Solwin Infotech
 * Solwin Customer Feedback Extension
 *
 * @category   Solwin
 * @package    Solwin_CustomerFeedback
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/ 
 */

.slide-out-div {
    padding: 20px;
    width: 304px;
    background: #ccc;
    border: 1px solid #29216d;
    z-index: 9999;
    height:auto !important;
}