<li class='level0 nav-1 first level-top parent ui-menu-item mega-menu-main catalog-category-view womens'>
			<a id='ui-id-3' class='level-top ui-corner-all' tabindex='-1' href='http://192.168.10.135/shoes/men.html'>
				<span class='ui-menu-icon ui-icon ui-icon-carat-1-e'></span>
				<span>Men</span>
			</a>
			<ul class='level0 submenu mega-menu ui-menu ui-widget ui-widget-content ui-corner-all' style='display: none; top: 47px; left: 174px;' aria-expanded='false' aria-hidden='true'>
				<li class='activities-menu level1 nav-1-1 first ui-menu-item'>
					<div><div class='col-sm-5 featured-categories'>
							
								<h4 class='filterproduct-title'><span class='content'>Featured Categories</span></h4>
								<div class='col-sm-12 nopadding'><div class='sales-block-bottom'>
										<a class='button seeall' href='http://192.168.10.135/shoes/men.html'>See all categories</a>
									</div>
								</div>
								<div class='clear'></div>
							
						</div>
                   <div class='col-sm-4 activities-brands'><h4 class="filterproduct-title"><span class="content">Popular Brands</span></h4>
<div class="border-right">
<div id="ca-container" class="ca-container">
<div class="ca-wrapper owl-carousel-mobile">
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
</div>
</div>
<!--<div class="sales-block-bottom"><a class="button seeall" href="brand">See all brands</a></div>-->
</div></div>
               <div class='col-sm-3 mega-submenu-list'><h4 class="filterproduct-title"><span class="content">Popular Searches </span></h4>
<div class="mega-inner-menus"><a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a></div>
                </div>

        </div>
           
        </li>
    </ul><li class='level0 nav-1 first level-top parent ui-menu-item mega-menu-main catalog-category-view womens'>
			<a id='ui-id-3' class='level-top ui-corner-all' tabindex='-1' href='http://192.168.10.135/shoes/women.html'>
				<span class='ui-menu-icon ui-icon ui-icon-carat-1-e'></span>
				<span>Women</span>
			</a>
			<ul class='level0 submenu mega-menu ui-menu ui-widget ui-widget-content ui-corner-all' style='display: none; top: 47px; left: 174px;' aria-expanded='false' aria-hidden='true'>
				<li class='activities-menu level1 nav-1-1 first ui-menu-item'>
					<div><div class='col-sm-5 featured-categories'>
							
								<h4 class='filterproduct-title'><span class='content'>Featured Categories</span></h4>
								<div class='col-sm-12 nopadding'><div class='item col-sm-4 col-xs-6 nopadding'>
											<div class='imgcount'>
												<a class='cat-link' href='http://192.168.10.135/shoes/women/athletic.html'>
													<div class='category-title category-title-text'>
														<span class='mega-name'>Athletic</span>
														<span class='mega-icon'>
															<i class='icon-arrow-right'></i>
														</span>
													</div>
													<img src='http://192.168.10.135/shoes/pub/media/catalog/category/boots.jpg' alt='' width='100' height='100'>
												</a>
											</div>
										</div><div class='item col-sm-4 col-xs-6 nopadding'>
											<div class='imgcount'>
												<a class='cat-link' href='http://192.168.10.135/shoes/women/boots.html'>
													<div class='category-title category-title-text'>
														<span class='mega-name'>Boots</span>
														<span class='mega-icon'>
															<i class='icon-arrow-right'></i>
														</span>
													</div>
													<img src='http://192.168.10.135/shoes/pub/media/catalog/category/boots_1.jpg' alt='' width='100' height='100'>
												</a>
											</div>
										</div><div class='item col-sm-4 col-xs-6 nopadding'>
											<div class='imgcount'>
												<a class='cat-link' href='http://192.168.10.135/shoes/women/flats.html'>
													<div class='category-title category-title-text'>
														<span class='mega-name'>Flats</span>
														<span class='mega-icon'>
															<i class='icon-arrow-right'></i>
														</span>
													</div>
													<img src='http://192.168.10.135/shoes/pub/media/catalog/category/boots_1.jpg' alt='' width='100' height='100'>
												</a>
											</div>
										</div><div class='item col-sm-4 col-xs-6 nopadding'>
											<div class='imgcount'>
												<a class='cat-link' href='http://192.168.10.135/shoes/women/boat.html'>
													<div class='category-title category-title-text'>
														<span class='mega-name'>Boat</span>
														<span class='mega-icon'>
															<i class='icon-arrow-right'></i>
														</span>
													</div>
													<img src='http://192.168.10.135/shoes/pub/media/catalog/category/boots.jpg' alt='' width='100' height='100'>
												</a>
											</div>
										</div><div class='item col-sm-4 col-xs-6 nopadding'>
											<div class='imgcount'>
												<a class='cat-link' href='http://192.168.10.135/shoes/women/slip-on.html'>
													<div class='category-title category-title-text'>
														<span class='mega-name'>Slip On</span>
														<span class='mega-icon'>
															<i class='icon-arrow-right'></i>
														</span>
													</div>
													<img src='http://192.168.10.135/shoes/pub/media/catalog/category/boots_1.jpg' alt='' width='100' height='100'>
												</a>
											</div>
										</div><div class='item col-sm-4 col-xs-6 nopadding'>
											<div class='imgcount'>
												<a class='cat-link' href='http://192.168.10.135/shoes/women/slippers.html'>
													<div class='category-title category-title-text'>
														<span class='mega-name'>Slippers</span>
														<span class='mega-icon'>
															<i class='icon-arrow-right'></i>
														</span>
													</div>
													<img src='http://192.168.10.135/shoes/pub/media/catalog/category/boots.jpg' alt='' width='100' height='100'>
												</a>
											</div>
										</div><div class='sales-block-bottom'>
										<a class='button seeall' href='http://192.168.10.135/shoes/women.html'>See all categories</a>
									</div>
								</div>
								<div class='clear'></div>
							
						</div>
                   <div class='col-sm-4 activities-brands'><h4 class="filterproduct-title"><span class="content">Popular Brands</span></h4>
<div class="border-right">
<div id="ca-container" class="ca-container">
<div class="ca-wrapper owl-carousel-mobile">
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
</div>
</div>
<!--<div class="sales-block-bottom"><a class="button seeall" href="brand">See all brands</a></div>-->
</div></div>
               <div class='col-sm-3 mega-submenu-list'><h4 class="filterproduct-title"><span class="content">Popular Searches </span></h4>
<div class="mega-inner-menus"><a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a></div>
                </div>

        </div>
           
        </li>
    </ul><li class='level0 nav-1 first level-top parent ui-menu-item mega-menu-main catalog-category-view womens'>
			<a id='ui-id-3' class='level-top ui-corner-all' tabindex='-1' href='http://192.168.10.135/shoes/boys.html'>
				<span class='ui-menu-icon ui-icon ui-icon-carat-1-e'></span>
				<span>Boys</span>
			</a>
			<ul class='level0 submenu mega-menu ui-menu ui-widget ui-widget-content ui-corner-all' style='display: none; top: 47px; left: 174px;' aria-expanded='false' aria-hidden='true'>
				<li class='activities-menu level1 nav-1-1 first ui-menu-item'>
					<div><div class='col-sm-5 featured-categories'>
							
								<h4 class='filterproduct-title'><span class='content'>Featured Categories</span></h4>
								<div class='col-sm-12 nopadding'><div class='sales-block-bottom'>
										<a class='button seeall' href='http://192.168.10.135/shoes/boys.html'>See all categories</a>
									</div>
								</div>
								<div class='clear'></div>
							
						</div>
                   <div class='col-sm-4 activities-brands'><h4 class="filterproduct-title"><span class="content">Popular Brands</span></h4>
<div class="border-right">
<div id="ca-container" class="ca-container">
<div class="ca-wrapper owl-carousel-mobile">
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
</div>
</div>
<!--<div class="sales-block-bottom"><a class="button seeall" href="brand">See all brands</a></div>-->
</div></div>
               <div class='col-sm-3 mega-submenu-list'><h4 class="filterproduct-title"><span class="content">Popular Searches </span></h4>
<div class="mega-inner-menus"><a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a></div>
                </div>

        </div>
           
        </li>
    </ul><li class='level0 nav-1 first level-top parent ui-menu-item mega-menu-main catalog-category-view womens'>
			<a id='ui-id-3' class='level-top ui-corner-all' tabindex='-1' href='http://192.168.10.135/shoes/girls.html'>
				<span class='ui-menu-icon ui-icon ui-icon-carat-1-e'></span>
				<span>Girls</span>
			</a>
			<ul class='level0 submenu mega-menu ui-menu ui-widget ui-widget-content ui-corner-all' style='display: none; top: 47px; left: 174px;' aria-expanded='false' aria-hidden='true'>
				<li class='activities-menu level1 nav-1-1 first ui-menu-item'>
					<div><div class='col-sm-5 featured-categories'>
							
								<h4 class='filterproduct-title'><span class='content'>Featured Categories</span></h4>
								<div class='col-sm-12 nopadding'><div class='sales-block-bottom'>
										<a class='button seeall' href='http://192.168.10.135/shoes/girls.html'>See all categories</a>
									</div>
								</div>
								<div class='clear'></div>
							
						</div>
                   <div class='col-sm-4 activities-brands'><h4 class="filterproduct-title"><span class="content">Popular Brands</span></h4>
<div class="border-right">
<div id="ca-container" class="ca-container">
<div class="ca-wrapper owl-carousel-mobile">
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
<div class="ca-item ca-item-1">
<div class="ca-item-main">
<div class="brand-logo"><span></span> <img src="http://192.168.10.135/shoes/pub/media/wysiwyg/brand.png" alt="" /></div>
</div>
</div>
</div>
</div>
<!--<div class="sales-block-bottom"><a class="button seeall" href="brand">See all brands</a></div>-->
</div></div>
               <div class='col-sm-3 mega-submenu-list'><h4 class="filterproduct-title"><span class="content">Popular Searches </span></h4>
<div class="mega-inner-menus"><a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a> <a href="#"><span>Popular Searches</span></a></div>
                </div>

        </div>
           
        </li>
    </ul><li class='level0 nav-1 first level-top parent ui-menu-item mega-menu-main catalog-category-view activities'>
	<a id='ui-id-3' class='level-top ui-corner-all' tabindex='-1' href='http://192.168.10.135/shoes/work-safety.html'>
		<span class='ui-menu-icon ui-icon ui-icon-carat-1-e'></span>
		<span>WORK &amp; SAFETY</span>
	</a>
	<ul class='level0 submenu mega-menu ui-menu ui-widget ui-widget-content ui-corner-all loop megamenu-owl-carousel activities-megaMenu catalog-category-view owl-carousel owl-theme owl-hidden owl-loaded' style='display: none;' aria-hidden='true' aria-expanded='false'>
		<div class='owl-stage-outer ui-menu-item' role='presentation'>
			<div class='owl-stage' style='width: 2004.75px; transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;'>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Men’s boots </span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' alt=' ' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Women’s boots</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Girls’ sandals</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Boys’ sneakers</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Men’s boots</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Women’s boots</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Girls’ sandals</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Boys’ sneakers</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
				<div class='owl-item' style='width: 212.75px; margin-right: 10px;'>
					<li class='item'>
						<div class='item col-md-12 nopadding'>
							<div class='imgcount'>
								<div class='category-title category-title-text'>
									<span class='mega-name'>Men’s boots</span>
									<span class='mega-icon'><i class='icon-arrow-right'></i></span>
								</div>
								<a class='cat-link' href='#'>
									<img src='http://stage.shoesensation.com/pub/media/wysiwyg/Mega_Menu/boots.jpg' width='100px' height='100px'>
								</a>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</ul>
</li>
