<?php  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$categories = $objectManager->get('\Magento\Catalog\Helper\Category')->getStoreCategories();
$categoryRepoObj = $objectManager->get('\Magento\Catalog\Model\CategoryRepository');
$_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
?>
<span class="action nav-toggle" data-action="toggle-nav"><span>Toggle Nav</span></span>
<!--
<nav class="navigation" data-action="navigation">
     <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
		 <?php
         //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-master')->toHtml();
         ?>
</ul></nav>
-->
<nav class="navigation" data-action="navigation">
	<ul id="ui-id-2" class="ui-menu ui-widget ui-widget-content ui-corner-all ui-menu-icons" role="menu" tabindex="0" aria-activedescendant="ui-id-9">
		<li class="level0 nav-1 first level-top ui-menu-item home active">
			<a class="level-top ui-corner-all" href="<?php echo $baseUrl ?>">
				<span>Home</span>
			</a>
		</li>
		<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::html/topmenu_html.phtml")->toHtml();?>
		
<li class="level0 nav-6 level-top ui-menu-item mega-menu-main megamenu-brand">
	<a id="ui-id-8" class="level-top ui-corner-all" tabindex="-1" href="javascript:void(0)"><span>Brands</span></a>
	<ul class="level0 submenu mega-menu ui-menu ui-widget ui-widget-content ui-corner-all" style="display: none;" aria-hidden="true" aria-expanded="false">
        <li class="brands-menu level1 nav-1-1 first ui-menu-item">
            <!-- BRAND MEGA MENU START-->
            <h4 class="filterproduct-title"><span class="content">Popular Brands</span></h4>
            <div id="ca-container" class="ca-container">
                <div class="ca-wrapper owl-carousel-mobile">
					<?php echo $this->getLayout()->createBlock("Emizentech\ShopByBrand\Block\Index")->setTemplate("Emizentech_ShopByBrand::emizen_brand/header-popular.phtml")->toHtml();?>
				</div>
            </div>
            <h4 class="filterproduct-title more-brands"><span></span><span class="content brandscolor">We have over 100 brands</span></h4>
            <div class="alphabet">
                <a href="#">#</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=A">A</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=B">B</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=C">C</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=D">D</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=E">E</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=F">F</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=G">G</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=H">H</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=I">I</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=J">J</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=K"> K</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=L">L</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=M">M</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=N">N</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=O">O</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=P">P</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=Q">Q</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=R">R</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=S">S</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=T">T</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=U">U</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=V">V</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=W">W</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=X">X</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=Y">Y</a>
                <a class="brand-ltr" href="javascript:void(0)" data-content="param=Z">Z</a>
            </div>
            <div class="sales-block-bottom"><a class="button seeall" href="<?php echo $this->getUrl('brand');?>">See all brands</a></div>
            <!-- BRAND MEGA MENU END -->
        </li>
    </ul>
</li><li class="level0 nav-7 last level-top parent ui-menu-item sale"><a id="ui-id-9" class="level-top ui-corner-all" tabindex="-1" href="<?php echo $baseUrl ?>sale"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span>Sale</span></a>
</li>
</ul></nav>
<script>
    jQuery(document).on('click', '.brand-ltr', function() {
        var param = jQuery(this).data('content');
        if (param != undefined && param != null) {
            window.location = '<?php echo $baseUrl.'brand?';?>' + param;
        }
    });
</script>
<script>
    jQuery(document).ready(function () {
        var datatitle = jQuery('.base').data('title');
        switch (datatitle) {
            case "Women's shoes":
                jQuery('.navigation').find('.womens').addClass('active');
                break;
            case "Men's shoes":
                jQuery('.navigation').find('.mens').addClass('active');
                break;


            case "Kid's shoes":
                jQuery('.navigation').find('.kids').addClass('active');
                break;


            case "Apparel":
                jQuery('.navigation').find('.apparel').addClass('active');
                break;


            case "Activities":
                jQuery('.navigation').find('.activities').addClass('active');
                break;


            case "Accessories":
                jQuery('.navigation').find('.accessories').addClass('active');
                break;


            case "brands":
                jQuery('.navigation').find('.megamenu-brand').addClass('active');
                break;


            case "Sale":
                jQuery('.navigation').find('.sale').addClass('active');
                break;


            case "Home" :
                jQuery('.navigation').find('.home').addClass('active');
                break;


        }
    });


</script>
