.geoipdefaultstore_content { background:#FFF; width:500px; padding:30px 15px; border-radius:3px; text-align:center; }

.geoipdefaultstore_content h2{ font-family:Arial, Helvetica, sans-serif; font-size:26px; font-weight: normal; color:#3399cc; text-align:center; margin:0; text-transform:uppercase;}

.geoipdefaultstore_content .links_block{ margin-top:20px;}

.geoipdefaultstore_content .links_block ul{ margin:0; padding:0; list-style:none; text-align:center;}

.geoipdefaultstore_content .links_block ul li{ font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; float:none; display:inline-block; margin:5px 4px;}

.geoipdefaultstore_content .links_block ul li a{ font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; float:none; display:inline-block; text-decoration:none; color:#666;}

.geoipdefaultstore_content .links_block ul li a:hover{ color:#3399cc;}

.geoipdefaultstore_content .or{ font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight: normal; color:#5a5a5a; text-transform:uppercase; text-align:center; margin-top:25px;}

.geoipdefaultstore_content .button{ text-align:center; margin-top:35px;}

.geoipdefaultstore_content .button a{ background-color:#3399cc; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; padding:8px 20px; text-decoration:none; text-transform:uppercase;}

.geoipdefaultstore_content .button a:hover{ background-color:#666;}

.my_modal_open{background-color:#3399cc; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; padding:8px 10px; text-decoration:none; text-transform:uppercase; border:none; cursor:pointer;}
 
.my_modal_close { position:absolute; right:10px; top:10px; width:10px; height:10px; cursor:pointer; background-color:#f3f4f7; padding:10px; border-radius:50%; }


@media (min-width: 320px) and (max-width: 640px) { 
.geoipdefaultstore_content { background:#FFF; width:85%;}
}