<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<script type="text/javascript">
require(['jquery'],function($)
{
    $(document).ready(function ()
    {
        function OrderEditorEdit(editUrl, customersGridUrl, submitCustomerUrl, saveOrderUrl, blocksConfig, beforeTabCloseText, saveChangesUrl, cancelChangesUrl, resetBlockUrl)
        {
            this.editLinkTmp = '<div %block_id% class="actions block-edit-link"><a href="#">Edit</a></div>';

            this.editUrl = editUrl;
            this.customersGridUrl = customersGridUrl;
            this.submitCustomerUrl = submitCustomerUrl;
            this.saveOrderUrl = saveOrderUrl;
            this.blocksConfig = blocksConfig;
            this.beforeTabCloseText = beforeTabCloseText;
            this.saveOrderChangesUrl = saveChangesUrl;
            this.cancelOrderChangesUrl = cancelChangesUrl;
            this.resetBlockUrl = resetBlockUrl;

            this.currentBlock = false;
            this.hasChanges = false;

            this.addEditLinks = function ()
            {
                var linkTemplate = this.editLinkTmp;

                $('.actions').each(function () {
                    if ($(this).parent().prop('className') == 'admin__page-section-item-title') {
                        $(this).remove();
                    }
                });

                $(".order-billing-address").each(function () {
                    var editLink = linkTemplate.replace('%block_id%', 'id="ordereditor_billing_address"');
                    $(editLink).appendTo($(this).children(".admin__page-section-item-title"));
                });

                $(".order-shipping-address").each(function () {
                    var editLink = linkTemplate.replace('%block_id%', 'id="ordereditor_shipping_address"');
                    $(editLink).appendTo($(this).children(".admin__page-section-item-title"));
                });

                $(".admin__page-section").each(function () {
                    if ($(this).children(".admin__table-wrapper")[0]) {
                        var editLink = linkTemplate.replace('%block_id%', 'id="ordereditor_order_items"');
                        $(editLink).appendTo($(this).children(".admin__page-section-title"));
                    }
                });

                this.loadEditForm();
            };

            this.getFormParams = function ()
            {

                var currentBlock = this.currentBlock;
                var params = {};

                if (currentBlock == 'shipping_address' || currentBlock == 'billing_address') {

                    $('#ordereditor_edit_form :input').each(function ()
                    {
                        if ($(this).prop("checked") || ($(this).attr('type') != 'checkbox' && $(this).attr('type') != 'radio')) {
                            var valName = currentBlock + '[' + $(this).attr('name') + ']';
                            params[valName] = $(this).val();
                        }
                    }
                    );

                }
                else
                    if (this.currentBlock == 'order_items') {

                        params = orderEditItems.getFormParams();
                        orderEditItems.gridProducts = $H({});

                    }
                    else {

                    var form = $('ordersedit_edit_form');
                    params = form.serialize();

                    }

                return params;
            };

            this.saveChanges = function ()
            {

                $('body').trigger('processStart');
                var parent = this;
                var url = this.saveOrderChangesUrl;
                var params = this.getFormParams();
                var currentBlock = this.currentBlock;

                url = url.replace('%edited_block%', currentBlock);

                $.ajax({
                    url:     url,
                    method:  "POST",
                    data:    params,
                    success: function (result)
                    {
                        var response = $.parseJSON(result);
                        parent.cancel();
                        parent.hasChanges = true;
                        parent.decorateBlock(currentBlock);
                        if (currentBlock == 'billing_address') {
                            $("#ordereditor_" + currentBlock).parent().parent().children(".admin__page-section-item-content").hide();
                            $("#ordereditor_" + currentBlock).parent().after("<address class='admin__page-section-item-content ordereditor-changed-fieldset' id='ordereditor_changed_" + currentBlock +"'></address>");
                            $("#ordereditor_changed_" + currentBlock).html(response[currentBlock]);
                            parent.addResetBlockLink(currentBlock);
                        } else if (currentBlock == 'shipping_address') {
                            $("#ordereditor_" + currentBlock).parent().parent().children(".admin__page-section-item-content").hide();
                            $("#ordereditor_" + currentBlock).parent().after("<address class='admin__page-section-item-content ordereditor-changed-fieldset' id='ordereditor_changed_" + currentBlock +"'></address>");
                            $("#ordereditor_changed_" + currentBlock).html(response[currentBlock]);
                            parent.addResetBlockLink(currentBlock);
                        } else if (currentBlock == 'order_items') {
                            $("#ordereditor_" + currentBlock).parent().parent().children(".admin__table-wrapper").hide();
                            $("#ordereditor_" + currentBlock).parent().after("<div class='admin__table-wrapper ordereditor-changed-fieldset' id='ordereditor_changed_" + currentBlock +"'></div>");
                            $("#ordereditor_changed_" + currentBlock).html(response[currentBlock]);
                            parent.addResetBlockLink(currentBlock);
                        }

                        if ($("#ordereditor_new_totals").length) {
                            $("#ordereditor_new_totals").replaceWith(response['temp_totals']);
                        } else {
                            $(".admin__page-section-item.order-comments-history").each(function () {
                                $(this).parent().parent().before(response['temp_totals']);
                            });
                        }
                        $('body').trigger('processStop');
                    },
                    error:   function (result)
                    {
                        $('body').trigger('processStop');
                    }
                });
            };

            this.cancel = function ()
            {
                $(".ordereditor-fieldset").each(function ()
                    {
                        $(this).remove();
                    }
                );

                $(".ordereditor-hidden-fieldset").each(function ()
                    {
                        $(this).removeClass('ordereditor-hidden-fieldset').show();
                    }
                );

                this.currentBlock = false;
            };

            this.loadEditForm = function ()
            {
                var parent = this;
                var blocksConfig = this.blocksConfig;
                var editUrl = this.editUrl;

                $(".block-edit-link").on('click', function () {

                    $('body').trigger('processStart');
                    parent.cancel();
                    var el = $(this);
                    var url = '';
                    blocksConfig.each(function (block) {
                        if ("ordereditor_" + block.blockId == el.attr('id')) {
                            url = editUrl.replace('%block_id%', block.blockId);
                        }
                    });

                    if (url) {
                        $.ajax({
                            url:     url,
                            method:  "GET",
                            success: function (result)
                            {
                                var fieldsetParent = $(el).parent().parent();
                                parent.currentBlock = el.attr('id').replace('ordereditor_', '');

                                if (parent.currentBlock == 'shipping_address' || parent.currentBlock == 'billing_address') {
                                    fieldsetParent.children(".admin__page-section-item-content").addClass('ordereditor-hidden-fieldset').hide();
                                    fieldsetParent.children(".admin__page-section-item-content").after("<div class='admin__page-section-item-content ordereditor-fieldset'></div>");
                                    fieldsetParent.children(".ordereditor-fieldset").html(result);
                                }
                                else if (parent.currentBlock == 'order_items') {
                                    fieldsetParent.children(".admin__table-wrapper").addClass('ordereditor-hidden-fieldset').hide();
                                    fieldsetParent.children(".admin__table-wrapper").after("<div class='admin__table-wrapper ordereditor-fieldset'></div>");
                                    fieldsetParent.children(".ordereditor-fieldset").html(result);
                                } else {
                                    $(this).html(result);
                                }
                                $('body').trigger('processStop');
                            },
                            error:   function (result)
                            {
                                $('body').trigger('processStop');
                            }
                        });
                    }

                    return false;
                });
            };

            this.addResetBlockLink = function (block)
            {
                var parent = this;
                var resetBlockUrl = this.resetBlockUrl;

                $("#ordereditor_" + block).on('click', function () {

                    $('body').trigger('processStart');
                    var url = resetBlockUrl.replace('%block_id%', block);

                    $.ajax({
                        url:     url,
                        method:  "GET",
                        success: function (result)
                        {
                            $("#ordereditor_changed_" + block).remove();
                            if (block == 'shipping_address' || block == 'billing_address') {
                                $("#ordereditor_" + block).parent().parent().children(".admin__page-section-item-content").show();
                            } else if (block == 'order_items') {
                                $("#ordereditor_" + block).parent().parent().children(".admin__table-wrapper").show();
                            }

                            parent.undecorateBlock(block);
                            parent.addEditBlockLink(block);

                            var response = $.parseJSON(result);
                            if ($("#ordereditor_new_totals").length) {
                                $("#ordereditor_new_totals").replaceWith(response['temp_totals']);
                            } else {
                                $(".admin__page-section-item.order-comments-history").each(function () {
                                    $(this).parent().parent().before(response['temp_totals']);
                                });
                            }

                            $('body').trigger('processStop');
                        },
                        error:   function (result)
                        {
                            $('body').trigger('processStop');
                        }
                    });

                    return false;
                });
            };

            this.addEditBlockLink = function (block)
            {
                var parent = this;
                var editUrl = this.editUrl;

                $("#ordereditor_" + block).on('click', function () {

                    $('body').trigger('processStart');
                    var url = editUrl.replace('%block_id%', block);
                    parent.cancel();
                    var el = $(this);

                    $.ajax({
                        url:     url,
                        method:  "GET",
                        success: function (result)
                        {
                            var fieldsetParent = $(el).parent().parent();
                            parent.currentBlock = el.attr('id').replace('ordereditor_', '');

                            if (parent.currentBlock == 'shipping_address' || parent.currentBlock == 'billing_address') {
                                fieldsetParent.children(".admin__page-section-item-content").addClass('ordereditor-hidden-fieldset').hide();
                                fieldsetParent.children(".admin__page-section-item-content").after("<div class='admin__page-section-item-content ordereditor-fieldset'></div>");
                                fieldsetParent.children(".ordereditor-fieldset").html(result);
                            }
                            else if (parent.currentBlock == 'order_items') {
                                fieldsetParent.children(".admin__table-wrapper").addClass('ordereditor-hidden-fieldset').hide();
                                fieldsetParent.children(".admin__table-wrapper").after("<div class='admin__table-wrapper ordereditor-fieldset'></div>");
                                fieldsetParent.children(".ordereditor-fieldset").html(result);
                            } else {
                                $(this).html(result);
                            }
                            $('body').trigger('processStop');
                        },
                        error:   function (result)
                        {
                            $('body').trigger('processStop');
                        }
                    });

                    return false;
                });
            };

            this.cancelChangedOrder = function()
            {
                this.hasChanges = false;
                window.setLocation(this.cancelOrderChangesUrl);
            };

            this.saveChangedOrder = function()
            {
                this.hasChanges = false;
                window.setLocation(this.saveOrderUrl);
            };

            this.decorateBlock = function(block)
            {
                $("#ordereditor_" + block).off();
                $("#ordereditor_" + block).parent().css('background-color','#E8FAD7');
                $("#ordereditor_" + block).find("a").text('Cancel');
            };

            this.undecorateBlock = function(block)
            {
                $("#ordereditor_" + block).off();
                $("#ordereditor_" + block).parent().css('background-color','');
                $("#ordereditor_" + block).find("a").text('Edit');
            };

        }

        window.orderEdit = new OrderEditorEdit(
            '<?php echo $block->escapeHtml($block->getEditUrlTemplate()) ?>',
            '',
            '',
            '<?php echo $block->escapeHtml($block->getSaveOrderUrl()) ?>',
            <?php echo $block->getBlocksJson(); ?>,
            '<?php echo $block->escapeHtml(__('The order has pending changes. Are you sure you want to skip them?')) ?>',
            '<?php echo $block->escapeHtml($block->getApplyChangesUrl()) ?>',
            '<?php echo $block->escapeHtml($block->getCancelChangesUrl()) ?>',
            '<?php echo $block->escapeHtml($block->getResetBlockUrl()) ?>'
        );
        orderEdit.addEditLinks();

        $(window).bind('beforeunload', function(){
            if (orderEdit.hasChanges) {
                return orderEdit.beforeTabCloseText;
            }
        });

    });
});

require([
    "prototype"
], function(){

    var OrdersEditEditItems = Class.create();
    OrdersEditEditItems.prototype = {

        initialize: function(currencySymbol, quoteItems) {

            this.gridProducts   = $H({});
            this.quoteItems = quoteItems;
            this.productPriceBase = {};
            this.currencySymbol = currencySymbol;

        },

        showQuoteItemConfiguration : function (quoteItemId) {
            productConfigure.showItemConfiguration('quote_items', quoteItemId);
        },

        getFormParams : function()
        {
            var params = {};

            $$('#order-items_grid tr[id^="order_item_"]').each(function(itemRow){

                itemId = itemRow.id.replace('order_item_', '');

                var qtyField = $$('input[name="item[' + itemId + '][qty]"]')[0];
                if (typeof qtyField != 'undefined') {
                    params['quote_items[' + itemId + '][qty]'] = qtyField.value;
                }

                var customPriceField = $$('input[name="item[' + itemId + '][custom_price]"]')[0];
                if (typeof customPriceField != 'undefined') {
                    params['quote_items[' + itemId + '][custom_price]'] = customPriceField.value;
                }

                var discountField = $$('input[name="item[' + itemId + '][use_discount]"]')[0];
                if (typeof discountField != 'undefined' && discountField.checked) {
                    params['quote_items[' + itemId + '][use_discount]'] = discountField.value;
                }

                var actionField = $$('select[name="item[' + itemId + '][action]"]')[0];
                if (typeof actionField != 'undefined') {
                    params['quote_items[' + itemId + '][action]'] = actionField.value;
                }

            });

            var fieldsPrepare = {};
            var itemsFilter = [];
            var products = this.gridProducts.toObject();
            for (var productId in products) {
                itemsFilter.push(productId);
                var paramKey = 'item['+productId+']';
                for (var productParamKey in products[productId]) {
                    paramKey += '['+productParamKey+']';
                    fieldsPrepare[paramKey] = products[productId][productParamKey];
                }
            }

            this.gridProducts.each(function(prod){
                var product_id = prod.key;
                var qty = prod.value.qty;
                if (qty <= 0) {
                    qty = 1;
                }

                params['product_to_add[' + product_id + '][qty]'] = qty;

                var optionsBlock = $('product_composite_configure_confirmed[product_to_add][' + product_id + ']');
                if (optionsBlock) {
                    optionsBlock.select('input', 'select', 'textarea').each(function (el) {
                        if (el.checked || (el.type != 'checkbox' && el.type != 'radio')) {

                            var valName = el.name;
                            if (valName.indexOf('[')) {
                                valName = valName.split(']').join('');
                                valName = valName.split('[').join('][');
                            }
                            params["product_to_add[" + product_id + "][" + valName + "]"] = el.value;

                        }
                    });
                }
            });

            for (var key in this.quoteItems) {
                if (this.quoteItems.hasOwnProperty(key)) {
                    var product_id = key;
                    var qty = this.quoteItems[key].qty;
                    if (qty <= 0) {
                        continue;
                    }

                    var optionsBlock = $('product_composite_configure_confirmed[quote_items][' + product_id + ']');
                    if (optionsBlock) {
                        optionsBlock.select('input', 'select', 'textarea').each(function (el) {
                            if (el.checked || (el.type != 'checkbox' && el.type != 'radio')) {
                                var valName = el.name;
                                if (valName.indexOf('[')) {
                                    valName = valName.split(']').join('');
                                    valName = valName.split('[').join('][');
                                }
                                params["quote_items[" + product_id + "][" + valName + "]"] = el.value;
                            }
                        });
                        params['quote_items[' + product_id + '][configured]'] = 1;
                        params['quote_items[' + product_id + '][action]'] = 'remove';
                        console.log(params);
                    }
                } else {
                    console.log('no property: ' + key);
                }
            }

            return params;
        },

        productGridRowClick : function(grid, event){
            var trElement = Event.findElement(event, 'tr');
            var qtyElement = trElement.select('input[name="qty"]')[0];
            var eventElement = Event.element(event);
            var isInputCheckbox = eventElement.tagName == 'INPUT' && eventElement.type == 'checkbox';
            var isInputQty = eventElement.tagName == 'INPUT' && eventElement.name == 'qty';
            if (trElement && !isInputQty) {
                var checkbox = Element.select(trElement, 'input[type="checkbox"]')[0];
                var confLink = Element.select(trElement, 'a')[0];
                var priceColl = Element.select(trElement, '.price')[0];
                if (checkbox) {
                    // processing non composite product
                    if (confLink.readAttribute('disabled')) {
                        var checked = isInputCheckbox ? checkbox.checked : !checkbox.checked;
                        grid.setCheckboxChecked(checkbox, checked);
                        // processing composite product
                    } else if (isInputCheckbox && !checkbox.checked) {
                        grid.setCheckboxChecked(checkbox, false);
                        // processing composite product
                    } else if (!isInputCheckbox || (isInputCheckbox && checkbox.checked)) {
                        var listType = confLink.readAttribute('list_type');
                        var productId = confLink.readAttribute('product_id');
                        if (typeof this.productPriceBase[productId] == 'undefined') {
                            var priceBase = priceColl.innerHTML.match(/.*?([\d,]+\.?\d*)/);
                            if (!priceBase) {
                                this.productPriceBase[productId] = 0;
                            } else {
                                this.productPriceBase[productId] = parseFloat(priceBase[1].replace(/,/g,''));
                            }
                        }
                        productConfigure.setConfirmCallback(listType, function() {
                            // sync qty of popup and qty of grid
                            var confirmedCurrentQty = productConfigure.getCurrentConfirmedQtyElement();
                            if (qtyElement && confirmedCurrentQty && !isNaN(confirmedCurrentQty.value)) {
                                qtyElement.value = confirmedCurrentQty.value;
                            }
                            // calc and set product price
                            var productPrice = parseFloat(this._calcProductPrice() + this.productPriceBase[productId]);
                            priceColl.innerHTML = this.currencySymbol + productPrice.toFixed(2);
                            // and set checkbox checked
                            grid.setCheckboxChecked(checkbox, true);
                        }.bind(this));
                        productConfigure.setCancelCallback(listType, function() {
                            if (!$(productConfigure.confirmedCurrentId)
                                || !$(productConfigure.confirmedCurrentId).innerHTML) {
                                grid.setCheckboxChecked(checkbox, false);
                            }
                        });
                        productConfigure.setShowWindowCallback(listType, function() {
                            // sync qty of grid and qty of popup
                            var formCurrentQty = productConfigure.getCurrentFormQtyElement();
                            if (formCurrentQty && qtyElement && !isNaN(qtyElement.value)) {
                                formCurrentQty.value = qtyElement.value;
                            }
                        }.bind(this));
                        productConfigure.showItemConfiguration(listType, productId);
                    }
                }
            }
        },

        productGridCheckboxCheck : function(grid, element, checked){
            if (checked) {
                if(element.inputElements) {
                    this.gridProducts.set(element.value, {});
                    var product = this.gridProducts.get(element.value);
                    for (var i = 0; i < element.inputElements.length; i++) {
                        var input = element.inputElements[i];
                        if (!input.hasClassName('input-inactive')) {
                            input.disabled = false;
                            if (input.name == 'qty' && !input.value) {
                                input.value = 1;
                            }
                        }

                        if (input.checked || input.name != 'giftmessage') {
                            product[input.name] = input.value;
                        } else if (product[input.name]) {
                            delete(product[input.name]);
                        }
                    }
                }
            } else {
                if(element.inputElements){
                    for(var i = 0; i < element.inputElements.length; i++) {
                        element.inputElements[i].disabled = true;
                    }
                }
                this.gridProducts.unset(element.value);
            }
            grid.reloadParams = {'products[]':this.gridProducts.keys()};
        },

        productGridRowInit : function(grid, row){
            var checkbox = $(row).select('.checkbox')[0];
            var inputs = $(row).select('.input-text');
            if (checkbox && inputs.length > 0) {
                checkbox.inputElements = inputs;
                for (var i = 0; i < inputs.length; i++) {
                    var input = inputs[i];
                    input.checkboxElement = checkbox;

                    var product = this.gridProducts.get(checkbox.value);
                    if (product) {
                        var defaultValue = product[input.name];
                        if (defaultValue) {
                            if (input.name == 'giftmessage') {
                                input.checked = true;
                            } else {
                                input.value = defaultValue;
                            }
                        }
                    }

                    input.disabled = !checkbox.checked || input.hasClassName('input-inactive');

                    Event.observe(input,'keyup', this.productGridRowInputChange.bind(this));
                    Event.observe(input,'change',this.productGridRowInputChange.bind(this));
                }
            }
        },

        productGridRowInputChange : function(event){
            var element = Event.element(event);
            if (element && element.checkboxElement && element.checkboxElement.checked){
                if (element.name!='giftmessage' || element.checked) {
                    this.gridProducts.get(element.checkboxElement.value)[element.name] = element.value;
                } else if (element.name=='giftmessage'
                    && this.gridProducts.get(element.checkboxElement.value)[element.name]) {
                    delete(this.gridProducts.get(element.checkboxElement.value)[element.name]);
                }
            }
        },

        _calcProductPrice: function () {
            var productPrice = 0;
            var getPriceFields = function (elms) {
                var productPrice = 0;
                var getPrice = function (elm) {
                    var optQty = 1;
                    if (elm.hasAttribute('qtyId')) {
                        if (!$(elm.getAttribute('qtyId')).value) {
                            return 0;
                        } else {
                            optQty = parseFloat($(elm.getAttribute('qtyId')).value);
                        }
                    }
                    if (elm.hasAttribute('price') && !elm.disabled) {
                        return parseFloat(elm.readAttribute('price')) * optQty;
                    }
                    return 0;
                };
                for(var i = 0; i < elms.length; i++) {
                    if (elms[i].type == 'select-one' || elms[i].type == 'select-multiple') {
                        for(var ii = 0; ii < elms[i].options.length; ii++) {
                            if (elms[i].options[ii].selected) {
                                productPrice += getPrice(elms[i].options[ii]);
                            }
                        }
                    }
                    else if (((elms[i].type == 'checkbox' || elms[i].type == 'radio') && elms[i].checked)
                        || ((elms[i].type == 'file' || elms[i].type == 'text' || elms[i].type == 'textarea' || elms[i].type == 'hidden')
                        && Form.Element.getValue(elms[i]))
                    ) {
                        productPrice += getPrice(elms[i]);
                    }
                }
                return productPrice;
            }.bind(this);
            productPrice += getPriceFields($(productConfigure.confirmedCurrentId).getElementsByTagName('input'));
            productPrice += getPriceFields($(productConfigure.confirmedCurrentId).getElementsByTagName('select'));
            productPrice += getPriceFields($(productConfigure.confirmedCurrentId).getElementsByTagName('textarea'));
            return productPrice;
        },

        toggleCustomPrice: function(checkbox, elemId, tierBlock) {
            if (checkbox.checked) {
                $(elemId).disabled = false;
                $(elemId).show();
                if($(tierBlock)) $(tierBlock).hide();
            }
            else {
                $(elemId).disabled = true;
                $(elemId).hide();
                if($(tierBlock)) $(tierBlock).show();
            }
        }
    };

    window.orderEditItems = new OrdersEditEditItems(
        '<?php echo $block->getCurrencySymbol(); ?>',
        <?php echo Zend_Json::encode($block->getQuoteItemIds()); ?>
    );
});

</script>