/*checkout page n */

.checkout-index-index .opc-progress-bar-item._active::before,
.checkout-index-index .opc-progress-bar-item::before,
.checkout-index-index .opc-progress-bar-item._active > span::before,
.checkout-index-index .opc-progress-bar-item > span::before,
.checkout-index-index .opc-progress-bar-item > span::after {background: transparent;}


.checkout-index-index .opc-progress-bar-item > span {display: inline; padding-top: 0; font-size: 18px;}
.checkout-index-index .opc-progress-bar-item {text-align: left;display: block;margin-top: 20px !important; width: 40%;}
.checkout-index-index .opc-progress-bar-item > span::after {top: 0px;}

.checkout-index-index .opc-progress-bar-item > span::before,.checkout-index-index .opc-progress-bar-item > span::after{content: initial;}
.checkout-index-index .opc-progress-bar { margin:40px 0 20px}
.checkout-index-index .opc-wrapper .form-login .fieldset .field .label,
.checkout-index-index .opc-wrapper .form-shipping-address .fieldset .field .label{font-size: 15px; font-weight: 600;padding-left: 0;}
.checkout-index-index .field-tooltip .field-tooltip-content::before,.checkout-index-index  .field-tooltip .field-tooltip-content::after {
  left: initial;
  right: 10px;
  top: -17px;
  transform: rotate(90deg);
}
.checkout-index-index .opc-wrapper .step-title {font-size: 20px;}
.checkout-index-index .field-tooltip .field-tooltip-content::after{border-right-color: #333;}

.checkout-index-index .field-tooltip .field-tooltip-content {
  background: #333;
  color: #fff;
  left: -250px;
   top: -1px;
   width: 280px;
   padding:7px 12px;
}
.checkout-index-index .field .control._with-tooltip input {margin-right: 0;width: 100%;}
.checkout-index-index .field-tooltip .field-tooltip-action{position: relative;top: -30px}
.checkout-index-index .field-tooltip .field-tooltip-action::before {font-size: 16px;}
.checkout-index-index .opc-wrapper .form-login {border-bottom: 0;padding-bottom: 0px;}
.checkout-index-index .checkout-shipping-method .actions-toolbar > .primary {float: left;}
.checkout-index-index .checkout-shipping-method .actions-toolbar .action.primary {width: 540px;}

.checkout-index-index input[type="text"],.checkout-index-index input[type="password"],
.checkout-index-index input[type="url"],.checkout-index-index input[type="tel"],
.checkout-index-index input[type="search"],.checkout-index-index input[type="number"],
.checkout-index-index input[type="datetime"],.checkout-index-index input[type="email"], 
.checkout-index-index select {
  height: 36px;
}

.cn-shop {float: right;margin-top: -25px;}
.cn-shop,.checkout-index-index .authentication-wrapper span { color: #0fc9a9;}
.cn-shop::before {content: "";font-family: fontawesome;font-size: 14px;font-weight: bold;padding-right: 5px;}

.checkout-index-index .authentication-wrapper {text-align: left;float: left;margin-top: 0px}
.checkout-index-index .payment-methods h5 {font-size: 20px}


@media (min-width:768px){
	.checkout-index-index h2 {font-weight: bold;text-align: center;}
	.checkout-index-index .opc-progress-bar-item {border-bottom: 1px solid #e9e9e9;padding-bottom: 5px;}

	.checkout-index-index  #shipping-new-address-form .field._required {
	    display: inline-block;
	    margin-right: 10px;
	    width: 48%;
	}
}