/*Header Top Section*/
/*Search Block st*/
.block-search input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.block-search .action.search.disabled,
.block-search .action.search[disabled],
fieldset[disabled] .block-search .action.search {
  opacity: 1;
}
.block-search input::-moz-placeholder {
  color: #999!important;
  opacity: 1;
}
/*Search Block end*/
/*User Menu Block st*/
.promotionalblock a {
  color: #151515;
  text-decoration: none;
}
.home-store {
  border-left: 2px solid #084d6b;
  border-right: 2px solid #084d6b;
  color: #ffffff;
  display: inline-block;
  float: right;
  line-height: 70px;
  margin-right: 0;
  margin-top: -19px;
  padding: 0 20px;
}
.home-store a {
  color: #ffffff;
}
.home-store a:hover,
.user-menu a.dropdown-toggle:hover {
  color: #ddd;
}
.user-menu .icon-user::before,
.user-menu .icon-arrow-down::before,
.user-menu .icon-arrow-top::before,
.user-menu a.dropdown-toggle {
  color: #ffffff;
}
/*User Menu Block end*/
/*Minicart Block st*/
.header.content .minicart-wrapper {
  background: #073245 none repeat scroll 0 0;
  line-height: 50px;
  margin-top: -19px;
  max-width: none;
  padding: 20px 10px 0;
  text-align: center;
  width: 70px;
}
.header.content .minicart-wrapper .action.showcart:hover::before,
.user-menu a:hover.dropdown-toggle {
  color: #eeeeee;
}
/*Minicart Block end*/
/*Menu Top Links*/
.top-links [class*="icon-"]::before {
  line-height: 50px;
}
/*Header Top Section End*/
/*------------------------------------------------------------*/
/*Header Bottom Section st*/
/*Navigation Section st*/
.navigation ul {
  text-align: center;
}
.navigation .level0.active > .level-top,
.navigation .level0.has-active > .level-top {
  background: rgba(0, 0, 0, 0) url("../images/border-bottom.svg") no-repeat scroll center bottom;
  border: medium none;
}
.dropdown-menu ul li.login-color a {
  color: #10bec5;
}
.mega-inner-menus {
  text-align: left;
}
.navigation .level0 > .level-top {
  padding: 0 14px;
}
.nav-sections .owl-carousel .owl-item:last-child {
  margin-right: 0 !important;
}
.promotionalblock a:hover {
  color: #666666;
}
/*Navigation Section end*/
/*Header Bottom Section end*/
/*------------------------------------------------------------*/
/*Banner Section*/
/*------------------------------------------------------------*/
.slideshow-btn .action.primary {
  opacity: 0.9;
}
.slideshow-btn .action.primary:hover,
.text-overlay .show-now a:hover {
  opacity: 1;
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
}
/*Main Content*/
#maincontent > .page-title-wrapper {
  display: none;
}
/*Common Css*/
.margin-tp-16 {
  margin-top: 16px;
}
.margin-tp-25 {
  margin-top: 25px;
}
.margin-tp-50 {
  margin-top: 50px;
}
.margin-tp-85 {
  margin-top: 85px;
}
/*For Overlay Block st*/
.overlay-box {
  position: relative;
}
.overlay-box > a {
  display: block;
  position: relative;
}
.text-overlay p {
  color: #ffffff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.overlay-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay-box .text-overlay {
  display: table;
  height: 100%;
  width: 100%;
}
.overlay-box .text-overlay a {
  color: #ffffff;
}
.overlay-box .text-overlay a:hover {
  color: #ddd;
}
.text-overlay .product-title {
  display: block;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.35;
  margin-bottom: 19px;
  padding: 0 20px;
}
.text-overlay .show-now a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 7px 17px;
  color: #fff;
}
/*For Overlay Block end*/
/*------------------------------------------------------------*/
.homepagefeatcount {
  padding-left: 8px;
  padding-right: 8px;
}
.page-main h1,
.cms-sensational-brands h2,
.catalog-product-view .column.main .block-products-list .block-title strong,
.catalog-product-view .column.main .product .active {
  position: relative;
  display: block;
  font-size: 25px;
  text-align: center;
}
.page-main h1::after,
.storelocator-wrapper h2:after,
.cms-sensational-brands h2:after,
.catalog-product-view .column.main .block-products-list .block-title strong:after,
.catalog-product-view .column.main .product .active:after {
  background: #10bec5 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  margin: 10px auto;
  position: absolute;
  right: 0;
  top: 100%;
  width: 30px;
}
.cms-home .block-products-list .products-grid .product-item-actions {
  display: none;
}
.cms-home.page-layout-1column .block.widget .products-grid .product-item {
  width: 21.87%;
}
.cms-home .page-main .homepage-promo-block {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  display: table;
  width: 100%;
}
/*Brands Section*/
.popular-brands li {
  display: inline-block;
  margin-left: 2.2%;
  margin-right: 2.2%;
  width: 6.4%;
}
.popular-brands li:hover {
  background: #ccc none repeat scroll 0 0;
  border-radius: 50%;
}
.brands-section {
  margin: 66px 0 61px;
}
.popular-brands > h1 {
  margin-bottom: 53px;
}
.cms-home .button.green-btn:hover,
.cms-home .button.green-btn:hover a {
  background: #10bec5 none repeat scroll 0 0;
  color: #ffffff;
}
.products-grid .product-item-info:hover .product-item-photo,
.products-grid .product-item-info.active .product-item-photo {
  opacity: 0.5;
}
/*Buttons*/
.button-blk {
  text-align: center;
  width: 100%;
}
.green-btn {
  border: 1px solid #10bec5;
  border-radius: 1px;
  text-align: center;
}
.green-btn a {
  color: #10bec5;
  font-size: 16px;
}
.brands-section .button-blk {
  margin-top: 20px;
}
/*#safety-blk-carousel.owl-carousel .owl-item,#clearance-carousel.owl-carousel .owl-item{padding: 0 25px 0 35px;}*/
.clearance-section .overlay-box .text-overlay:hover,
.sub-categories .overlay-box .text-overlay:hover {
  background: rgba(9, 85, 119, 0.85) none repeat scroll 0 0;
}
.clearance-blk .products-grid .product-item-name,
.safety-blk .products-grid .product-item-name {
  color: #555555;
  font-weight: 300;
}
.clearance-blk .col-md-3 {
  padding-left: 8px;
  padding-right: 8px;
}
.product-reviews-summary {
  margin-bottom: 10px;
}
.brand-name {
  color: #373636;
  font-size: 18px;
  margin: 15px 0 5px;
}
.icon-facebook::before {
  color: #3b5998;
}
.icon-instagram::before {
  color: #405de6;
}
.icon-twitter::before {
  color: #55acee;
}
.icon-pinterest::before {
  color: #bd081c;
}
.icon-google::before {
  color: #dd4b39;
}
.product-item-info .quick-view {
  border: 0 solid;
  display: none;
  height: 20%;
  left: 32%;
  position: absolute;
  top: 25%;
  width: 35%;
  z-index: 4;
}
.ui-widget-content.ui-menu-divider {
  display: none;
}
.product-title .owl-next:before {
  content: '\0049';
  font-family: 'shoe-sensation';
  font-size: 11px;
  color: #fff;
  font-weight: 600;
}
.clearance-blk .text-overlay .product-title {
  margin-bottom: 0px;
}
.safety-blk .text-overlay .show-now a {
  margin-right: 5px;
}
.page-footer {
  margin-top: 20px;
  padding-top: 30px;
}
.block.newsletter .action.primary:focus,
.block.newsletter .action.primary:active,
.block.newsletter .action.primary:hover {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
}
.block.newsletter .action.subscribe {
  border-radius: 0px 1px 1px 0px;
}
.page-footer .newsletter input[type="email"] {
  background: #1d1d1d none repeat scroll 0 0;
  border-radius: 1px 0 0 1px;
  height: 50px;
}
.block.newsletter .actions,
.block.newsletter .action.subscribe {
  height: 50px;
}
.second-footer {
  border-top: 1px solid #1d1d1d;
  padding-top: 40px;
}
#sociallogin_button {
  display: none;
}
/*Footer*/
.footer-icons a:hover {
  background: #ffffff none repeat scroll 0 0;
  opacity: 1;
}
.newsletterfooter-success,
.newsletterfooter-error {
  background: #2e2e2e none repeat scroll 0 0;
  border-radius: 2px;
  color: #ffffff;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.47;
  margin: 0 auto;
  padding: 13px;
  text-align: center;
}
.newsletterfooter-error {
  color: #e02b27;
}
.loading {
  background: rgba(0, 0, 0, 0) url("../images/loader-2.gif");
  background-position: center top -40px;
  background-repeat: no-repeat;
  position: absolute;
  height: 86px;
  width: 300px;
  top: 34px;
}
/*Store Locator*/
body {
  color: #373636;
  letter-spacing: 0.3px;
  line-height: 1.38;
}
.storelocator-wrapper h2,
.storelocator-index-view h2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #373636;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  margin-bottom: 50px;
  position: relative;
}
.storelocator-wrapper h2:after,
.storelocator-index-view h2:after {
  background: #10bec5 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  margin: 10px auto;
  position: absolute;
  right: 0;
  top: 100%;
  width: 30px;
}
.storelocator-wrapper .mgs-search-box .search-content {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.storelocator-wrapper .ui-slider-horizontal {
  background: #e7e7e7 none repeat scroll 0 0;
  border-radius: 0px!important;
  height: 30px;
  border-right: 3px solid #adadad;
  border-left: 3px solid #adadad;
}
.storelocator-wrapper .mgs-search-box .slider-range .ui-slider-handle {
  border-radius: 50%;
  height: 26px;
  top: 0px;
  width: 26px;
  background: #10bec5 none repeat scroll 0 0;
}
.search-filter.col-full.padding-right.padding-left,
.storelocator-wrapper .search-content .form-group button.btn-reset-search-distance {
  display: none;
}
.storelocator-wrapper .search-content .form-group button {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  border-radius: 1px;
  font-size: 18px;
  height: 40px;
  letter-spacing: 0.3px;
  padding: 7px 0;
  width: 100%;
}
.storelocator-wrapper .mgs-search-box .search-tab.active {
  background-color: #095577;
}
.storelocator-wrapper .mgs-search-box .search-content .slider-range-min {
  margin-left: 50px;
}
.storelocator-wrapper .mgs-search-box .search-content {
  margin-bottom: 30px;
}
.map-box-container .action.primary:hover,
.storelocator-wrapper .action.primary:hover {
  background: #095577 none repeat scroll 0 0;
  border: 1px solid #095577;
}
.btn-reset-search-distance.action.primary {
  background: #868686 none repeat scroll 0 0 !important;
  border: 1px solid #868686 !important;
}
.storelocator-wrapper .list-store-box h2 {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #d2d2d2;
  height: 48px;
  line-height: 28px;
}
.storelocator-wrapper .list-store-box h2 span {
  color: #373636;
  float: left;
  font-size: 18px;
  text-align: left;
}
.storelocator-wrapper .list-store-box h2 span.number-store {
  color: #555555;
  font-weight: normal;
}
.storelocator-wrapper .glyphicon-align-justify::before {
  content: none;
}
.storelocator-wrapper .list-store-box .list-store {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.storelocator-wrapper .list-store-box .show-tag-li {
  box-shadow: none;
}
.storelocator-wrapper .list-store-box .page-title {
  padding-bottom: 0;
}
.storelocator-wrapper .list-store-box h2::after {
  content: none;
}
.storelocator-index-index p .street-view,
.storelocator-index-index p .direction {
  color: #095577 !important;
  display: inline-block;
  margin-right: 20px !important;
  margin-top: 5px;
  text-decoration: underline !important;
}
.storelocator-wrapper .list-store-box .show-tag-li {
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0;
  box-shadow: none;
}
.storelocator-wrapper .list-store-box .show-tag-li:last-child {
  border-bottom: medium none;
}
.storelocator-index-index .store-item .title-store {
  color: #373636!important;
  font-size: 16px!important;
}
.storelocator-index-index .store-item p,
.storelocator-index-index .store-item p {
  font-size: 14px!important;
  font-weight: 300!important;
  line-height: 1.57!important;
  margin: 0;
}
.storelocator-index-index .store-item p.label,
.storelocator-index-index .store-item p.email-label {
  font-weight: 600!important;
  padding: 5px 0 0!important;
}
.storelocator-index-index .store-item .tag-store {
  padding-left: 10px;
  padding-right: 0;
}
.storelocator-index-index .store-item .tag-content {
  padding-left: 10px;
  padding-right: 10px;
}
.storelocator-index-index .tag-store img {
  max-width: 100%;
}
.storelocator-index-view .table-wrap h2 {
  background: #ffffff none repeat scroll 0 0 !important;
  border-bottom: 1px solid #cccccc;
  color: #333333 !important;
  font-size: 18px !important;
  height: 48px;
  line-height: 30px;
  padding-left: 15px !important;
  text-align: left;
}
.storelocator-index-view .table-wrap h2::after {
  content: none;
}
.storelocator-index-view .table-wrap h2 .glyphicon,
.views-wrapper .form-information h2 .glyphicon {
  display: none;
}
.views-wrapper .form-information h2 {
  background: #ffffff none repeat scroll 0 0;
  color: #333333;
  font-size: 18px !important;
}
.views-wrapper .form-information .store-locator-img,
.views-wrapper .form-information .small-imgages {
  background: #095577 none repeat scroll 0 0;
  padding: 5px 0;
}
.views-wrapper .form-information .more-views {
  padding: 10px 0 0;
}
.views-wrapper .form-information .magestore-map-image,
.views-wrapper .form-information .more-views {
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.get-direction {
  background: #095577 none repeat scroll 0 0 !important;
  border: 1px solid #095577 !important;
  font-size: 20px !important;
  height: 50px;
  width: 100%;
}
.storelocator-wrapper .list-store-box .show-tag-li:hover,
.storelocator-wrapper .list-store-box .show-tag-li.store-active {
  background-color: #ffffff;
}
.storelocator-index-index .overlay-bg {
  display: none !important;
}
.storelocator-wrapper .mgs-search-box .search-content .slider-range-min .show-unit {
  position: relative;
}
.container-search h3 {
  font-size: 18px;
  margin: 0 0 10px;
  text-align: left;
  width: 100%;
  font-weight: 600;
}
.storelocator-wrapper .mgs-search-box .search-content .slider-range-min .show-unit {
  top: 0;
}
.storelocator-wrapper h2.title-page::after {
  margin-top: 4px;
}
.storelocator-wrapper h2.title-page {
  margin-bottom: 35px;
  margin-top: 46px;
}
.storelocator-wrapper .container-search .input-search-distance.input-sm {
  background: rgba(0, 0, 0, 0) url("../images/location-icon.png") !important;
  background-repeat: no-repeat !important;
  background-size: 18px auto!important;
  background-position: right 10px top 7px!important;
}
.container-search .button-box {
  margin-top: 22px;
}
.storelocator-wrapper .mgs-search-box .search-content {
  padding: 23px 10px 18px;
}
.storelocator-wrapper .mgs-search-box .search-content {
  border: 1px solid #d2d2d2;
}
.storelocator-wrapper .no-stores {
  clear: both;
  padding: 25px 0 0;
  text-align: center;
}
.storelocator-wrapper .no-stores strong {
  display: block;
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 14px;
}
.storelocator-wrapper .no-stores p {
  color: #555555;
  font-size: 22px;
  font-weight: 300;
}
.storelocator-wrapper .mgs-search-box .slider-range {
  background: rgba(0, 0, 0, 0) url("../images/range-bg.jpg") repeat-x scroll 5px center;
  border-radius: 3px;
  margin-top: 2px;
  width: 100%;
}
.storelocator-wrapper .pagination > li > a,
.storelocator-wrapper .pagination > li > span {
  border: medium none;
  border-radius: 0;
  font-size: 18px;
}
.storelocator-wrapper .pagination > .active > a,
.storelocator-wrapper .pagination > .active > span,
.storelocator-wrapper .pagination > .active > a:hover,
.storelocator-wrapper .pagination > .active > span:hover,
.storelocator-wrapper .pagination > .active > a:focus,
.storelocator-wrapper .pagination > .active > span:focus {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #10bec5;
  cursor: default;
  z-index: 2;
}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="email"]::-moz-placeholder {
  color: #555555;
}
.storelocator-wrapper .marker-logo-blue {
  background: rgba(0, 0, 0, 0) url("../images/shape.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 5px top 7px!important;
  background-size: 14px auto !important;
  height: 31px;
  position: absolute;
  width: 25px;
  top: 29px;
}
.storelocator-wrapper .clear-location-input {
  background: rgba(0, 0, 0, 0) url("../images/reset-image.jpg") !important;
  background-repeat: no-repeat !important;
  background-position: right 0px top 7px!important;
  background-size: 17px auto !important;
  height: 31px;
  position: absolute;
  width: 25px;
  right: 33px;
  top: 31px;
  color: #fff;
  text-indent: -1000px;
}
.storelocator-wrapper .container-search .selected .input-search-distance.input-sm {
  padding-left: 25px;
}
.views-wrapper .form-information .more-views .slider-imgs {
  max-height: 266px;
  min-height: 265px;
  overflow: auto;
  padding: 7px 7px 12px;
}
.custom-popup ul.vertical li.car {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-position: center top 0px;
  background-size: 28px auto;
  height: 28px;
  background-repeat: no-repeat;
}
.custom-popup ul.vertical li.car:hover,
.custom-popup ul.vertical li.car.active {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-position: center top -25px;
  background-size: 28px auto;
  background-repeat: no-repeat;
}
.custom-popup ul.vertical li.bus {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-repeat: no-repeat;
  background-position: center top -51px;
  background-size: 28px auto;
  height: 28px;
}
.custom-popup ul.vertical li.bus:hover,
.custom-popup ul.vertical li.bus.active {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-position: center top -77px;
  background-size: 28px auto;
  background-repeat: no-repeat;
}
.custom-popup ul.vertical li.walk {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-position: center top -103px;
  background-size: 28px auto;
  background-repeat: no-repeat;
  height: 28px;
}
.custom-popup ul.vertical li.walk:hover,
.custom-popup ul.vertical li.walk.active {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-position: center top -128px;
  background-size: 28px auto;
  background-repeat: no-repeat;
}
.custom-popup ul.vertical li.bicycle {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-repeat: no-repeat;
  background-position: center top -153px;
  background-size: 28px auto;
  height: 28px;
}
.custom-popup ul.vertical li.bicycle:hover,
.custom-popup ul.vertical li.bicycle.active {
  background: rgba(0, 0, 0, 0) url("../images/map-icon.png");
  background-position: center top -179px;
  background-size: 28px auto;
  background-repeat: no-repeat;
}
.custom-popup .directions-tool .widget-directions-searchbox-handle .widget-directions-icon.waypoint-handle {
  background: #10bec5 none repeat scroll 0 0;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
.custom-popup .directions-tool .widget-directions-searchbox-handle .widget-directions-icon.waypoint-bullet {
  background: rgba(0, 0, 0, 0) url("../images/arrow-left.png");
  background-position: left 4px top 0;
  background-size: 13px auto;
  background-repeat: no-repeat;
  height: 24px;
  margin-top: -3px;
  width: 18px;
}
.custom-popup .directions-tool .widget-directions-searchbox-handle .widget-directions-icon {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
/*Store Pickup*/
.popup {
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
  width: 100%;
  z-index: 999;
}
/* Inner */
.popup-inner {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 2px 6px #000000;
  margin: 0 auto;
  padding: 20px 20px;
  position: relative;
  width: 700px;
}
.stores {
  border-top: 1px solid #d2d2d2;
  margin-top: 30px;
  padding-top: 0px;
}
.pop-head {
  font-size: 18px;
}
.stores-content h1 {
  margin-bottom: 25px;
}
.stores li {
  border-bottom: 1px solid #d2d2d2;
  list-style: outside none none;
  overflow: auto;
  padding: 10px 0px;
}
.store-detail {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 65%;
}
.store-thumb {
  float: left;
  margin-top: 25px;
  width: 25%;
}
.store-detail p {
  font-size: 16px;
  font-weight: 300;
}
.store-detail h3 {
  font-size: 16px;
  font-weight: 600;
}
.store-detail p span {
  font-weight: normal;
}
.store-detail p span.pick-date {
  color: #10bec5;
}
.pick-date-btn {
  background: #cccccc none repeat scroll 0 0;
  border: 1px solid #cccccc;
  box-shadow: none !important;
  color: rgba(85, 85, 85, 0.48);
  font-size: 20px;
  height: 60px;
  width: 100%;
}
.back-to-product::before {
  content: "\e617";
  font-family: luma-icons;
  font-size: 16px;
  position: relative;
  top: 1px;
}
.back-to-product {
  font-size: 18px;
}
.popup-close {
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}
.popup-close::before {
  content: "\e616";
  font-family: luma-icons;
  font-size: 16px;
  color: #373636;
}
.popup-close:hover {
  color: #ffffff;
}
.zip {
  text-align: center;
}
.zip p {
  font-size: 16px;
  font-weight: 600;
}
.stores-content-box h1 {
  margin-bottom: 30px;
}
.user-zip {
  width: 250px !important;
  height: 50px !important;
}
.find-by-zip {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #ffffff;
  font-size: 18px;
  height: 50px;
  margin-left: -3px;
  margin-top: -3px;
}
.find-by-zip:hover {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  color: #eeeeee;
}
.stores-loaded {
  color: #0fc9a9;
  display: block;
  margin: 10px 0 0;
  text-align: center;
}
.store-checkbox {
  float: left;
  position: relative !important;
  top: 23px !important;
  width: 25px;
}
.no_store {
  text-align: center;
}
/*Store pickup tooltip*/
.pick-up-help-info {
  background: #eeeeee none repeat scroll 0 0;
  border: 1px solid #ededed;
  border-radius: 5px;
  left: 15%;
  margin: 0 auto;
  padding: 15px;
  position: absolute;
  top: -166px;
  width: 500px;
  display: none;
}
.pick-up-help-info::after {
  bottom: -38px;
  color: #eeeeee;
  content: "\f0d7";
  font-family: fontAwesome;
  font-size: 51px;
  left: 45.52%;
  position: absolute;
}
.pick-up-help-info strong {
  color: #10bec5;
  display: block;
  margin-bottom: 5px;
}
.pick-up-help-info p {
  font-size: 14px;
}
.only-pickup {
  border: 1px solid #d2d2d2;
}
.only-pickup .zip {
  padding: 15px;
}
.only-pickup .stores {
  margin-top: 0;
  padding-top: 0px;
}
.pick-up-intro {
  font-size: 16px;
  padding: 15px;
  text-align: center;
}
.only-pickup .pick-up-intro p {
  margin-bottom: 0;
}
.only-pickup .store-checkbox {
  display: none;
}
.only-pickup .zip p.find.open::after {
  content: "\e621";
}
.pick-up-intro .see-stores {
  color: #373636;
  display: block;
  padding-top: 10px;
}
.phone-blk .label {
  display: inline-block;
  padding-right: 5px;
}
.only-pickup .zip p.find::after {
  content: "\e622";
  font-family: luma-icons;
  font-size: 13px;
  left: 4px;
  position: relative;
  top: 3px;
}
.stores .error {
  color: #fa4444;
  display: block;
  padding: 7px 0;
}
.no .category-view .category-description .overlay-box .product-title {
  font-size: 46px;
  margin-bottom: 10px;
}
.category-view .category-description .overlay-box .cat-discount {
  font-size: 32px;
  letter-spacing: 0.9px;
}
.swatch-option {
  height: 28px;
}
.filter-content .item {
  padding: 11px 0 11px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.swatch-attribute-options {
  margin-top: 14px;
}
.page-products .products-grid .product-item .product-item-details {
  position: initial;
}
.page-products .products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2 {
  background-image: url("../images/search-icon.png");
  right: 40%;
  top: 29%;
}
/*Review end*/
.page-products .product-item-inner .actions-secondary {
  display: none !important;
}
.sub-categories {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.category-brands li:first-child,
.category-brands li:nth-child(6n+1) {
  margin-left: 0;
}
/*.category-brands li:nth-child(5n+1), .category-brands li:last-child {
    margin-right: 0;
}*/
.category-brands li {
  margin-left: 3.8%;
  margin-right: 3.8%;
  width: 9%;
}
.category-brands li:first-child {
  margin-right: 3.8%;
}
.category-brands li:last-child {
  margin-left: 3.8%;
}
.products-grid .product-item-info:hover .product-item-inner,
.products-grid .product-item-info.active .product-item-inner {
  border: medium none;
  box-shadow: none;
}
.page-products .column .category-view {
  padding-left: 15px;
  padding-right: 15px;
}
/*Brand Page*/
.cms-sensational-brands h1:after {
  content: none;
}
.cms-sensational-brands h1 {
  font-size: 30px;
  margin-top: 45px;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 50px;
}
.cms-sensational-brands h2 {
  font-size: 24px;
  margin-bottom: 50px;
}
.cms-sensational-brands .popular-brands h2 {
  margin-top: 50px;
}
.cms-sensational-brands .breadcrumbs,
.cms-page-view .breadcrumbs {
  display: none;
}
.brands-all {
  margin: 0 0 50px;
  text-align: center;
}
.brands-all ul li {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  list-style: outside none none;
  padding: 5px 13px;
}
.brandslist ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  list-style: outside none none;
  width: 49%;
  margin-bottom: 25px;
}
.brandslist {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 35px;
}
.brands-all ul li .selected {
  color: #10bec5;
  font-weight: 600;
}
.brand-begin-label {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}
.brand-banner .text-overlay .product-title {
  font-size: 56px;
  margin-top: -25px;
}
.brand-banner .text-overlay .show-now a {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  border-radius: 1px;
  font-size: 20px;
  font-weight: normal;
  padding: 20px 17px;
  width: 196px;
}
.brand-description {
  margin: 0 auto 60px;
  text-align: center;
  width: 70%;
}
.brand-description p {
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  padding: 30px 0px 15px;
}
.cms-page-view.page-layout-1column .brand-detail-content .column.main {
  float: right;
  order: 2;
  width: 79.1667%;
}
.cms-page-view.page-layout-1column .brand-detail-content .sidebar-main {
  float: left;
  order: 1;
  width: 20.8333%;
}
.brand-detail-content ol li {
  display: inline-block;
  margin: 0 2.3% 75px;
  width: 20.5%;
  text-align: center;
}
.brand-detail-content ol li .product-item-info {
  width: auto;
}
.brand-detail-content ol li:nth-child(4n) {
  margin-right: 0;
}
.brand-detail-content .filter-subtitle {
  display: block;
  font-size: 20px;
  margin-bottom: 14px;
}
.brand-detail-content .filter-options-item {
  border: 1px solid #d2d2d2;
  display: block;
  margin-right: 0;
  padding-bottom: 0px;
  border-bottom: none;
}
.brand-detail-content .filter-options-title::after {
  right: 10px;
  top: 10px;
  z-index: 3;
}
.brand-detail-content .sidebar.sidebar-main .filter-options-title {
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 25px 10px 10px;
}
.view-result-btn,
.clear-filter-btn {
  border-radius: 0;
  box-shadow: none !important;
  width: 100%;
}
.view-result-btn,
.view-results button {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  color: #ffffff;
  font-size: 18px;
}
.clear-filter-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}
.brand-detail-content .filter-current .action.remove {
  left: inherit;
  position: relative;
  right: 0;
  top: 0;
}
.brand-detail-content .filter-current ol li:first-child {
  margin-left: 0 !important;
}
.brand-detail-content .filter-current ol li {
  border: 1px solid #d2d2d2 !important;
  margin: 0 0 0 15px !important;
  padding: 7px 15px !important;
  text-align: center !important;
  width: auto !important;
}
.brand-detail-content .toolbar-sorter.sorter {
  margin-top: 39px;
}
.brand-detail-content .filter-block h3 {
  font-size: 16px;
  margin-top: 11px;
}
.brand-detail-content .filter-block .filter-current .items {
  padding: 0 !important;
}
.brand-detail-content .column.main > h3 {
  font-size: 18px;
}
.cms-page-view .brand-featured-images {
  margin: 60px 0 40px;
}
.brand-description img {
  max-width: 150px;
  margin-top: 10px;
}
.cms-page-view .column.main {
  padding-bottom: 0px;
}
.cms-page-view .page-main a:focus,
.cms-page-view .page-main a:hover {
  color: #10bec5;
}
.brand-description h1 {
  margin-top: 0;
}
.filter-results button.view-result-btn:hover {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  color: #ffffff;
}
.filter-results button.clear-filter-btn:hover {
  background: transparent;
  border: none;
  color: #333;
}
/*Category Page*/
.columns {
  margin-top: 50px;
}
.page-products .page-title-wrapper .page-title {
  margin-bottom: 10px;
}
.page-products .breadcrumbs {
  text-align: center;
}
.view-results button.btn[disabled] {
  background: #d2d2d2 none repeat scroll 0 0;
  border: 1px solid #d2d2d2;
  color: #555;
}
.view-results button.btn {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  border-radius: 0;
  width: 100%;
  box-shadow: none;
}
.filter-content .item label {
  font-weight: 300;
}
.filter-options-item:last-child {
  border-bottom: medium none;
}
.filter-content .item {
  padding: 5px 0;
}
.filter-options-item {
  padding-bottom: 0px;
}
.filter-options-title {
  padding: 10px 40px 10px 10px;
}
.filter-options-item {
  padding-bottom: 0px;
}
.toolbar select {
  background-color: #ffffff;
}
.products.wrapper ~ .toolbar .limiter {
  display: none;
}
.breadcrumbs .item:not(:last-child)::after {
  line-height: 22px;
}
.breadcrumbs .items {
  font-size: 1em;
}
/*Product Detail Page*/
.page-layout-1column .product-info-main .product-info-main {
  width: 100%;
}
.catalog-product-view .color {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  float: none;
  height: 11	0px;
  overflow: visible;
  text-indent: 0;
  width: 100%;
  margin-bottom: 25px;
}
.catalog-product-view .swatch-attribute.size {
  clear: both;
  display: inline-block;
  width: 240px;
}
.catalog-product-view .swatch-attribute.size select {
  font-size: 15px;
  height: 50px;
}
.catalog-product-view .product-options-wrapper .color .swatch-option.color {
  display: inline-block;
  height: 28px;
  width: 20px;
}
.swatch-opt {
  margin: 10px 0;
}
.swatch-option {
  height: 28px;
}
.product-info-main .field.qty .decrease,
.product-info-main .field.qty .increase {
  border: 1px solid #d2d2d2;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  font-size: 24px;
}
.product-info-main .field.qty .decrease {
  font-size: 36px;
}
.block-products-list .block-title {
  font-weight: normal;
}
.block-products-list .product.info {
  border-top: 1px solid #d2d2d2;
  margin-top: 50px;
  padding-top: 25px;
}
.catalog-product-view .product-info-main .brand-name {
  color: #373636;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 2px;
  opacity: 0.8;
}
.catalog-product-view .product-info-main .product-title {
  font-size: 24px;
  margin: 0 0 3px;
}
.swatch-attribute-label {
  font-size: 16px;
}
.product-options-bottom .field.qty label {
  font-weight: 600;
  margin-bottom: 13px;
}
.catalog-product-view .product-info-main .product-reviews-summary {
  margin: 3px 0;
}
.product-options-bottom {
  position: relative;
}
.product-options-bottom .field.qty {
  display: inline-block;
  margin-top: -117px;
  position: absolute;
  right: 0;
  width: 50%;
}
.filter-content .item input[type="checkbox"]:checked + label,
.filter-content .item input[type="checkbox"]:checked .count {
  color: #10bec5;
}
.product-brand img {
  float: right;
  position: relative;
  right: 25px;
}
.swatch-attribute-options .swatch-option.image {
  height: 78px;
  width: 78px;
}
.product-store-pickup {
  margin: 25px 0;
  font-size: 16px;
  position: relative;
}
.product-store-pickup input[type="checkbox"] {
  margin-right: 5px;
}
.product-store-pickup > label {
  font-weight: 300;
}
.share-dropdown {
  background: rgba(19, 18, 18, 0.6) none repeat scroll 0 0;
  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.share-dropdown-inner {
  background: #ffffff none repeat scroll 0 0;
  margin: 50px auto 0;
  padding: 20px;
  width: 300px;
}
.share-close {
  color: #ffffff;
  opacity: 1;
  text-align: right;
  margin-bottom: 0;
  cursor: pointer;
}
.share-close::before {
  content: "\e616";
  font-family: luma-icons;
  font-size: 16px;
  color: #373636;
}
.share-close:hover {
  color: #ffffff;
}
.share-title {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
}
.share-dropdown-inner a.facebook {
  background: #3b5998 none repeat scroll 0 0;
}
.share-dropdown-inner a.twitter {
  background: #55acee none repeat scroll 0 0;
}
.share-dropdown-inner a.pinterest {
  background: #bd081c none repeat scroll 0 0;
}
.share-dropdown-inner a {
  background: #cccccc none repeat scroll 0 0;
  border-radius: 1px;
  color: #ffffff;
  display: block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  text-align: center;
}
.share-dropdown-inner a i {
  padding-right: 5px;
}
.brand-name a {
  color: #333333;
}
.review-form .action.submit.primary {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #10bec5;
  color: #10bec5;
  padding: 10px 15px;
}
.review-form .action.submit.primary:hover {
  background: #10bec5 none repeat scroll 0 0;
  border: 1px solid #10bec5;
  color: #fff;
}
.block-products-list .block-title > strong {
  font-weight: normal;
}
.pick-up-help-button {
  background: #095577 none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  height: 23px;
  margin-left: 5px;
  text-align: center;
  width: 23px;
  cursor: pointer;
}
/*Quick View*/
.page-products .products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2 {
  background-image: url("../images/search-icon.png");
  right: 40%;
  top: 29%;
}
input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
}
.box-gotoproduct {
  position: relative;
  top: 50px;
  clear: both;
}
.box-gotoproduct #product-gotoproduct-button {
  background: transparent;
  border-top: 1px solid #d2d2d2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: #373737;
  border-radius: 0;
}
/*Cart Page*/
.header.content .minicart-wrapper .action.showcart .counter.qty {
  position: relative;
  top: -20px;
}
.minicart-wrapper .block-minicart {
  line-height: 25px;
  text-align: left;
}
.cart-summary {
  z-index: 2;
}
#crosssell-carousel {
  max-width: 1280px;
}
/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
/*Css need to remove*/
/*.category-view .category-view .category-cms,.category-view > .category-brands.popular-brands {display: none;}
*/
.cart-summary .checkout-methods-items .item {
  margin-bottom: 25px;
  text-align: right;
}
/*------------------------------------------------------------
  Responsive Css
  ------------------------------------------------------------*/
@media screen and (min-width: 1279px) {
  nav.navigation ul li.level-top {
    padding: 0 19px;
  }
  .user-menu {
    margin: 0;
    padding: 4px 13px 0 17px;
  }
  /*Store Locator*/
  .storelocator-wrapper .search-content .form-group button {
    width: 180px;
  }
  .storelocator-wrapper .search-content .form-group button.btn-reset-search-distance {
    margin-right: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*Header Section*/
  .header.content .minicart-wrapper {
    width: 60px;
  }
  .promotionalblock .block {
    width: 80%;
  }
  .promotionalblock .block span {
    font-size: 11px;
  }
  .user-menu {
    margin: 4px 5px 0;
  }
  .home-store {
    padding: 0 5px;
  }
  /*Header Section End*/
  /*Work & Safety Block*/
  /*.owl-item {margin-left: 2.5%;width: 21% !important;}*/
  /*Brands*/
  .popular-brands li {
    margin-left: 2%;
    margin-right: 2%;
    width: 6.8%;
  }
  /*Footer Section*/
  .homepage-footer-block h4 {
    font-size: 14px;
  }
  .footer-icons a {
    margin: 0 5px 6px;
  }
  .storelocator-index-index .tag-store img {
    max-width: 100%!important;
  }
}
@media screen and (min-width: 1000px) {
  /*.user-menu {padding: 4px 12px 0 15px;}*/
  .user-menu {
    padding: 4px 13px 0 17px;
  }
  .user-menu,
  .home-store {
    margin: -20px 0 0;
  }
  /*Store Locator*/
  .storelocator-wrapper .container-search {
    padding: 0 30px;
  }
  .map-box-container {
    padding-left: 30px;
  }
  /*Brand Page*/
  .brandslist-group.first .brandslist {
    margin-right: 24%;
  }
  .brandslist-group.second .brandslist {
    margin-left: 12%;
    margin-right: 12%;
  }
  .brandslist-group.third .brandslist {
    margin-left: 24%;
  }
}
@media screen and (max-width: 1000px) {
  .brand-banner .overlay-box {
    background-position: center center;
    background-size: cover;
    min-height: 300px;
  }
  .brand-banner .overlay-box img {
    visibility: hidden;
  }
}
@media screen and (min-width: 980px) and (max-width: 991px) {
  .top-links [class*="icon-"]::before {
    display: block;
    width: 100%;
  }
}
/*------------------------------------------------------------
Tablet Resolutions
------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*Header Top*/
  .logo {
    max-width: 23%;
  }
  .header.content .logo {
    margin-top: 8px;
    margin-right: 1px;
  }
  .header.content {
    padding: 19px 20px 0;
  }
  .block-search {
    width: 200px;
  }
  .home-store {
    margin-right: 0;
    padding: 0 5px;
  }
  .header.content .user-menu {
    margin: 4px 2px 0;
    margin: -15px 0 0;
    height: 65px;
  }
  .header-free-shipping,
  .header-return-policy,
  .header-price-match,
  .header-phone-number {
    padding-top: 9px!important;
  }
  .header-phone-number {
    padding-top: 0 !important;
  }
  .header.content .minicart-wrapper {
    padding: 20px 0 0;
    width: 40px;
  }
  /*Header Bottom*/
  .header-free-shipping,
  .header-return-policy,
  .header-price-match {
    height: 55px;
  }
  .homepage-promo-block {
    height: 70px;
    padding: 6px 0;
  }
  .promotionalblock .block span {
    font-size: 12px;
  }
  .header-free-shipping,
  .header-return-policy,
  .header-price-match,
  .header-phone-number {
    padding-top: 0;
  }
  .homepage-promo-block,
  .top-links [class*="icon-"]::before {
    line-height: normal;
  }
  .header-free-shipping,
  .header-return-policy,
  .header-price-match {
    line-height: normal;
  }
  /*Navigation*/
  .navigation .level0 > .level-top {
    padding: 0 20px;
  }
  .text-overlay .product-title {
    font-size: 18px;
    line-height: 1.1em;
    margin-bottom: 15px;
    padding: 0 15px;
  }
  .cms-home.page-layout-1column .block.widget .products-grid .product-item {
    width: 24.87%;
  }
  .homepage-featured-images {
    margin: 40px 0;
  }
  /*Brand*/
  .popular-brands li {
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 7.7%;
  }
  /*Clearance Section*/
  .clearance-blk .overlay-box img {
    width: 100%;
  }
  .clearance-blk .overlay-box {
    margin-bottom: 15px;
  }
  /*Footer Section*/
  .footer-chat-sticky {
    bottom: 20%;
  }
  .payment-methods,
  .page-footer .shop-safety,
  .col-xs-12.col-sm-6.col-md-3.social-icons,
  .footer-phone {
    width: 50%;
  }
  .page-footer .shop-safety,
  .footer-phone {
    text-align: left;
  }
  .col-xs-12.col-sm-6.col-md-3.social-icons,
  .payment-methods {
    text-align: right;
  }
  .payment-methods {
    text-align: right;
    width: 50%;
  }
  .page-footer .copyrightstext {
    width: 100%;
  }
  /*.owl-item {float: left;margin-left: 3% !important;margin-right: 2% !important;width: 20% !important;}*/
  .payment-methods img:last-child,
  .footer-icons a:last-child {
    margin-right: 0;
  }
  /*Store Locator*/
  .storelocator-wrapper .list-store-box {
    padding: 0 15px 0 0;
  }
  .storelocator-wrapper .search-content .form-group button {
    width: 150px;
  }
  .storelocator-wrapper .mgs-search-box .search-content .slider-range-min {
    margin-left: 35px;
  }
  .storelocator-wrapper .list-store .tag-store img {
    max-width: 100%!important;
  }
  /*Brand Page*/
  .brand-description {
    width: 90%;
  }
  .brand-detail-content ol li {
    margin: 0 2.3% 50px;
    width: 28%;
  }
}
@media screen and (min-width: 768px) {
  /*User Menu Block Start*/
  .user-menu .dropdown-menu::before {
    height: 0;
  }
  .header.content .minicart-wrapper {
    margin-left: 0px;
  }
  .user-menu.custom-select .dropdown-menu {
    top: 68px;
  }
  .user-menu {
    height: 70px;
    line-height: 63px;
    margin: -20px 0 0;
  }
  .user-menu.custom-select {
    background: #10bec5;
  }
  .dropdown-menu ul li p {
    color: #151515;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 1.43;
    padding: 0 20px;
  }
  .dropdown-menu ul li {
    line-height: 22px;
  }
  .user-menu a.dropdown-toggle:hover,
  .user-menu a.dropdown-toggle:active,
  .user-menu a.dropdown-toggle:focus {
    color: #fff;
    text-decoration: none;
  }
  /*User Menu Block end*/
  .page-footer .home-store {
    display: none;
  }
  /*Brands Page*/
  .mobile-block {
    display: none;
  }
}
/*------------------------------------------------------------
Mobile Resolutions
------------------------------------------------------------*/
@media (max-width: 767px) {
  /*Header*/
  .header.content {
    padding: 12px 20px 0;
    margin-top: 40px;
  }
  .header.content .minicart-wrapper {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: 0;
    margin-top: 5px;
    max-width: none;
    padding: 0;
    text-align: center;
    width: auto;
  }
  .header.content .logo {
    margin-right: 15px;
    margin-top: 13px;
    width: 100%;
  }
  .header .logo img {
    margin: 0 auto;
  }
  .block-search .label::before,
  .nav-toggle::before {
    color: #ffffff;
  }
  .block-search {
    margin-top: 5px;
  }
  .header.content .logo {
    margin-left: 25%;
  }
  .store-section {
    background: #073245 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    line-height: 38px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -40px;
    position: relative;
    text-align: center;
    top: -12px;
  }
  .store-section a {
    color: #ffffff;
  }
  .store-section [class*="icon-"]::before {
    font-size: 13px;
    position: relative;
    top: 2px;
  }
  .page-wrapper > .sticky-wrapper {
    height: 69px !important;
  }
  .page-header {
    border-bottom: medium none #000080;
  }
  .block-search .label.active + .control {
    background: #ffffff;
    border-top: 0px solid #cccccc;
    height: 100%;
    margin: -1px -20px;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .block-search .label.active + .control .mobile-search,
  .block-search .label.active + .control .search-clear {
    display: block !important;
  }
  .search-clear {
    float: right;
    margin: 10px;
  }
  /*Header Bottom*/
  .homepage-promo-block {
    padding: 0;
  }
  .header-free-shipping,
  .header-return-policy,
  .header-price-match {
    height: 49px;
    line-height: 16px;
    display: table;
  }
  .promotionalblock .block {
    display: table-cell;
    vertical-align: middle;
  }
  .promotionalblock .block span {
    font-size: 12px;
  }
  .promotionalblock a {
    padding: 0px 3px;
  }
  .header-price-match {
    border-right: medium none;
  }
  .promotionalblock .top-icon {
    display: none;
  }
  /*Navigation*/
  .nav-open .nav-sections {
    height: 100%;
  }
  .nav-before-open .nav-toggle::before {
    color: #fff;
  }
  .navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border: medium none !important;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  }
  .navigation .level0 > .level-top {
    color: #ffffff;
    margin: 20px 10px;
  }
  nav.navigation ul li.level-top.active a {
    color: #19b6bd !important;
  }
  /*Slideshow*/
  .homepage-featured-images .overlay-box,
  .safety-section .overlay-box {
    background-position: center bottom;
    background-size: cover;
    min-height: 200px;
    position: relative;
    max-height: 200px;
  }
  .homepage-featured-images .overlay-box img,
  .safety-section .overlay-box img {
    visibility: hidden;
  }
  .action.primary.shopnow {
    padding: 15px 25px;
    width: auto;
  }
  /*.homepage-featured-images{margin: 15px 0;}*/
  .homepagefeatcount {
    padding-left: 0;
    padding-right: 0;
  }
  .cms-home .clearfix.margin-tp-16 {
    display: none;
  }
  .item.col-xs-12.col-sm-12.col-md-12.homepagefeatcount img {
    height: 150px;
  }
  .popular-brands li {
    margin-left: 5%;
    margin-right: 6%;
    width: 25%;
  }
  .popular-brands li:nth-child(3n) {
    margin-right: 0;
  }
  .popular-brands li:nth-child(3n+1) {
    margin-left: 0;
  }
  .popular-brands h1 {
    margin-bottom: 50px;
  }
  .safety-blk .col-md-6 {
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .clearance-blk .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  .clearance-blk .col-md-3:nth-child(2n) {
    border-right: medium none;
  }
  .clearance-blk .col-md-3:nth-child(2n+1) {
    border-left: medium none;
  }
  .clearance-section .overlay-box > img {
    width: 100%;
  }
  .clearance-section .button-blk {
    margin-top: 50px;
  }
  .livechat-sticky.row {
    margin: 75px 0 0;
  }
  .storelocator-index-index .livechat-sticky.row {
    margin: 75px 0 0;
  }
  .block.newsletter .form.subscribe {
    max-width: none;
  }
  .footer-popular-categories {
    display: none;
  }
  .footer-popular-brands {
    order: 2;
  }
  .footer-customer-service {
    order: 2;
  }
  .footer-shoes-com {
    border: medium none;
    margin-bottom: 15px;
    order: 1;
    text-align: center;
  }
  .page-footer .home-store {
    border: 1px solid #10bec5;
    clear: both;
    color: #10bec5;
    float: none;
    font-size: 20px;
    line-height: 50px;
    margin: 5px 0 35px;
    text-align: center;
  }
  .homepage-footer-block h4 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.69;
    margin-top: 5px;
  }
  .page-footer .newsletter input[type="email"],
  .block.newsletter .action.subscribe {
    border-radius: 0;
  }
  .page-footer .collapsible .block-title {
    letter-spacing: 0.7px;
  }
  .footer-popular-brands .block-content .col-sm-6.col-md-7 {
    padding-left: 0;
  }
  .catalog-product-view .field.qty {
    margin-left: 0;
    margin-top: 8px;
  }
  .catalog-product-view .field.qty {
    margin-top: 15px;
  }
  .brand-logo img,
  .popular-brands img {
    height: auto !important;
  }
  /*Owl Carousel effect*/
  .owl-carousel .owl-item {
    opacity: 0.5;
  }
  .owl-carousel .owl-item.active {
    opacity: 1;
  }
  /*For caraousel*/
  .page-main h1 {
    display: block;
    font-size: 25px;
    margin: 35px 0 35px;
    position: relative;
    text-align: center;
  }
  .product-item-info {
    max-width: 100%;
    width: 100%;
  }
  .page-footer {
    padding-top: 15px;
  }
  .second-footer {
    border-top: medium none;
    padding-top: 8px;
  }
  .page-footer .collapsible .block-title {
    margin: 11px 0;
  }
  /*Store Locator*/
  .storelocator-wrapper .mgs-search-box .search-content .slider-range-min {
    margin-left: 0px;
  }
  .storelocator-wrapper .mgs-search-box .slider-range {
    width: 100%;
  }
  .storelocator-wrapper .mgs-search-box [class*="col-"] {
    padding: 0;
    text-align: center;
  }
  .storelocator-wrapper .mgs-search-box .search-content {
    border: medium none;
  }
  .storelocator-wrapper .mgs-search-box .search-content {
    margin-bottom: 0;
  }
  .storelocator-wrapper .search-content .form-group button {
    font-size: 24px;
    height: 60px;
  }
  .storelocator-wrapper .mgs-search-box .search-content .slider-range-min {
    margin-top: 20px;
  }
  .storelocator-index-index p .street-view,
  .storelocator-index-index p .direction {
    margin-right: 10px !important;
  }
  .storelocator-wrapper .marker-logo-blue {
    left: 5px;
    top: 41px;
  }
  .storelocator-wrapper .clear-location-input {
    right: 45px;
    top: 43px;
  }
  .storelocator-wrapper .container-search .input-search-distance.input-sm {
    height: 45px;
  }
  .storelocator-wrapper .container-search .selected .input-search-distance.input-sm {
    padding-left: 30px;
  }
  .storelocator-wrapper .mgs-search-box [class*="col-"] {
    padding: 5px 0!important;
  }
  .storelocator-wrapper .no-stores strong {
    font-size: 22px;
  }
  .storelocator-wrapper .no-stores p {
    font-size: 20px;
  }
  .storelocator-wrapper .container-search .input-search-distance.input-sm {
    background-position: right 10px top 14px  !important;
  }
  /*Category Page*/
  .page-with-filter .columns .sidebar-main {
    order: 1;
  }
  #layered-filter-block {
    margin: 0;
    position: relative;
  }
  .sub-categories:nth-child(2n+1) {
    border-left: medium none;
  }
  .sub-categories:nth-child(2n) {
    border-right: medium none;
  }
  .sub-categories {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
  .catalog-category-view .page-title-wrapper .page-title {
    margin: 20px 0px 30px;
  }
  .category-banner .overlay-box {
    background-position: center center;
    background-size: cover;
    min-height: 380px;
  }
  .category-banner .overlay-box img {
    visibility: hidden;
  }
  .page-products .columns {
    margin-top: 0;
  }
  .modes-label,
  .modes-mode span {
    display: none;
  }
  .modes {
    position: absolute;
    top: 30px;
  }
  .page-products .mode-grid::before {
    margin-left: 0;
    margin-right: 5px;
    top: 0;
  }
  .products-list .product-item {
    margin-bottom: 25px;
  }
  .products-list .product-item-details,
  .products-list .product-item-details.product-item-name {
    text-align: left !important;
  }
  /*Minicart*/
  .minicart-wrapper .product .actions {
    margin: -31px 0 0;
  }
  /*Brand Page*/
  .brandslist-group .block-content.no-display {
    display: none;
  }
  .brandslist.collapsible .block-title::after {
    content: "\e61c";
    font-family: luma-icons;
    font-size: 14px;
    font-weight: bold;
  }
  .brandslist.collapsible .block-title.active::after {
    content: "\e60f";
  }
  .brandslist ul li {
    width: 100%;
  }
  #charaters-list {
    display: none;
  }
  .brand-begin-label.block-title.heading.active {
    color: #10bec5;
  }
  .brandslist {
    margin-bottom: 0;
    padding: 0;
  }
  .mobile-collapsible .block-title.brand-begin-label {
    margin: 10px 0;
  }
  .cms-sensational-brands .livechat-sticky.row {
    margin: 0;
    position: relative;
    top: -1px;
  }
  .homepage-promo-block {
    border-bottom: 1px solid #d2d2d2;
  }
  .cms-sensational-brands h1 {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .collapsible .block-title::after {
    position: relative;
    right: 5px;
  }
  .brand-description {
    width: 90%;
  }
  .brand-featured-images .homepagefeatcount {
    margin-bottom: 20px;
  }
  .brand-featured-images .margin-tp-16,
  .filter-block,
  .sidebar.sidebar-main {
    display: none;
  }
  .brand-detail-content ol li {
    margin: 0 2.3% 25px;
    width: 44%;
  }
  .cms-page-view .brand-featured-images {
    margin: 60px 0 15px;
  }
  .mobile-filter.mobile-block {
    clear: both;
    display: block;
    margin-bottom: 76px;
    margin-top: 25px;
  }
  .modes {
    display: block;
  }
  .brand-detail-content .toolbar-sorter.sorter {
    margin-top: 5px;
  }
  .modes-mode::before {
    color: #7d7d7d;
    content: "\e60d";
    display: inline-block;
    font-family: "luma-icons";
    font-size: 28px;
    font-weight: normal;
    line-height: inherit;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
  }
  .modes-mode:hover::before {
    color: #7d7d7d;
  }
  .mode-list::before {
    content: "\e609";
  }
  .mode-grid::before {
    font-size: 19px !important;
    margin-left: 15px;
    position: relative;
    top: 2px;
  }
  .modes-mode.active::before {
    color: #10bec5 !important;
  }
  .mobile-filter > .col-md-6 {
    padding: 0;
  }
  /*Product Detail page*/
  .product-social-links .action.tocompare {
    display: block;
  }
  .product-brand img {
    right: 0;
  }
  .catalog-product-view .color {
    height: 110px;
  }
  .product-social-links .action.mailto.friend {
    width: 100%;
  }
  .product-store-pickup {
    font-size: 15px;
  }
  .catalog-product-view .column.main .product .active::after {
    position: relative;
  }
  .block-products-list .product.info {
    border-top: none;
    padding-top: 0px;
  }
  .product-options-bottom .field.qty {
    position: relative;
    margin-left: 0px;
  }
  .product.data.items .item.title a::after {
    content: "\e61c";
  }
  .product.data.items .item.title.active a::after {
    content: "\e60f";
  }
  /*Store Pickup*/
  .popup {
    top: 0px;
  }
  .popup-inner {
    width: 100%;
    padding: 20px 10px;
    border-radius: 0;
  }
  .user-zip {
    width: 240px !important;
  }
  .store-detail {
    margin-right: 0;
    width: 90%;
  }
  .store-thumb {
    display: none;
  }
  .pick-date-btn {
    background: #10bec5 none repeat scroll 0 0;
    border: 1px solid #10bec5;
    color: #fff;
  }
}
@media screen and (min-width: 600px) and (max-width: 760px) {
  .block-search,
  .header.content .minicart-wrapper {
    margin-top: 13px;
  }
  .header.content .logo {
    margin-top: 10px;
  }
  .storelocator-wrapper .mgs-search-box [class*="col-"] {
    padding: 5px 10px;
  }
}
@media screen and (min-width: 525px) and (max-width: 767px) {
  .banner-item-content {
    overflow: visible;
  }
  .homepage-featured-images .overlay-box,
  .safety-section .overlay-box {
    min-height: 250px;
    max-height: 250px;
  }
}
@media screen and (min-width: 400px) and (max-width: 599px) {
  .nav-toggle {
    top: 22px;
  }
  .block-search,
  .header.content .minicart-wrapper {
    margin-top: 8px;
  }
  .header.content .logo {
    margin-top: 10px;
  }
  .storelocator-wrapper .mgs-search-box [class*="col-"] {
    padding: 5px 10px;
  }
  .banner-item-content .inner-banner {
    min-height: 250px;
    max-height: 250px;
  }
  .banner-item-content .banner-text {
    top: 22%;
  }
}
@media screen and (min-width: 361px) and (max-width: 767px) {
  .banner-text h3 {
    font-size: 36px;
    margin: 4px 4px 10px;
  }
}
@media (max-width: 399px) {
  .user-menu {
    margin-top: 2px;
  }
  .block-search,
  .header.content .minicart-wrapper {
    margin-top: 8px;
  }
  .header.content .logo {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .banner-text h3 {
    font-size: 32px;
  }
  .homepage-featured-images {
    margin: 15px 0 62px;
  }
  .banner-item-content .banner-text {
    top: 25%;
  }
  .banner-item-content .inner-banner {
    min-height: 200px;
    max-height: 200px;
  }
}
@media (max-width: 360px) {
  .inner-banner img {
    display: none;
  }
}
