/* 
    Document   : geoipdefaultstore.css
    Author     : FMEExtensions
    Description:
        Purpose of the stylesheet follows.
*/

.cboxtd {
    background-color: #B5D7E2;
    border-bottom: 1px solid #6F8992;
    width: 25px;
}

.cboxinput {margin-left: 5px;}

.cboxlabel {padding-left: 5px; }

.countrieslistlabel {font-style: italic; font-family: verdana; font-size: 10px;}

.cboxflag {width: 30px;}

.ougridhead {padding-left: 10px; padding-right: 10px; background-color: #666E73;
             font-weight: bold; color: #FFFFFF;
}

.ougridtd {padding-left: 10px; padding-right: 10px; text-align: left;
           background-color: #F0F8FF;
}

/*.ougridtd:hover {background-color: #00BFFF;}*/
.test_left { float:left; width:100%; padding-right:10px}

.accordion { list-style-type: none; padding: 0; margin:0 0 25px; float:left; clear:both}

.accordion ul { padding: 0; margin: 0; float: left; display: block; width: 100%; }

.accordion li { cursor: pointer; list-style-type: none; padding: 0; margin:0 0 3px; float: left; display: block; 
                border:1px solid #c5c5c5; width: 100%;}

/*.accordion li.active>a { background: url(../images/tab_BG_active.jpg) no-repeat left top; border-bottom:1px solid #c5c5c5}*/
.accordion li.active>a { border-bottom:1px solid #c5c5c5}

.accordion li div.mapdiv { padding: 10px; display: block; clear: both; float: left; width: 100%;}

/*.accordion a { text-decoration: none; font:11px/22px; color: #1e455f; padding:0 0 0 10px; display: block; cursor: pointer; width: 958px; height:21px; background: url(../images/tab_BG.jpg) no-repeat left top;}*/
.accordion a { text-decoration: none; font:11px/22px; color: #1e455f; padding:0 0 0 10px; 
               display: block; cursor: pointer; height:21px;}

.accordion li div p { float:left; font:11px/18px; color:#666666; padding:16px 15px 20px;}

div.inp {display: inline; clear: none; float: left;}

.accordion table.form-list {width: 100%;}

.importnote { width: 48.5%; margin-bottom: 10px;}

.importnotehead {background-color: #DCDCDC; padding: 2px 10px;
                 font-family: verdana; font-weight: bold;
                 color: #B22222;
}

.importnotebody {background-color: #FDF5E6; padding: 2px 10px;
                 font-family: verdana; font-weight: normal;
                 color: #000000;
                 border: 1px solid #DCDCDC;
}
