<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$linkBlock = $objectManager->get('Magento\Checkout\Block\Onepage\Link');
?>
<div class="continue-shopping visible-xs"><a href="<?php echo $this->getUrl() ;?>"><i class="icon-arrow-left"></i>Continue Shopping</a></div>
<div class="left yourcart-left">
    <h3>YOUR CART (<?php echo count($block->getItems());?>)</h3>
    <div class="continue-shopping hidden-xs">
		<a href="<?php echo $this->getUrl() ;?>">
			<i class="icon-arrow-left"></i>
			Continue Shopping
		</a>
	</div>
</div>
<div class="right yourcart-right hidden-xs">
	<span class="print-cart">
		<a href="<?php echo $this->getUrl('printingcarts/printing/carts'); ?>">
			<i class="icon-print-cart"></i>
			Print Cart
		</a>
	</span>
	<span class="email-cart">
		<a href="<?php echo $this->getUrl('emailcart/emailcart/form'); ?>">
			<i class="icon-email-cart"></i>
			Email cart
		</a>
	</span>
	<span class="save-cart">
		<a href="<?php echo $this->getUrl('savecart/savecart/index'); ?>">
			<i class="icon-save-cart"></i>
			Save cart
		</a>
	</span>
	<span class="checkoutbtn">
		<?php if ($linkBlock->isPossibleOnepageCheckout()):?>
        <button type="button"
                data-role="proceed-to-checkout"
                title="<?php /* @escapeNotVerified */ echo __('Checkout') ?>"
                data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php /* @escapeNotVerified */ echo $linkBlock->getCheckoutUrl(); ?>"}}'
                class="action primary checkout<?php echo($linkBlock->isDisabled()) ? ' disabled' : ''; ?>"
                <?php if ($linkBlock->isDisabled()):?>disabled="disabled"<?php endif; ?>>
            <span><i class="icon-checkout"></i><?php /* @escapeNotVerified */ echo __('Checkout') ?></span>
        </button>
    <?php endif;?>
</span>
</div>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?php echo $block->getChildHtml('form_before') ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="cart table-wrapper<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ echo __('Shopping Cart Items') ?></caption>

            <?php foreach ($block->getItems() as $_item): ?>
				<?php echo $block->getItemHtml($_item) ?>
            <?php endforeach ?>

        </table>
    </div>
    <div class="cart main actions">
        <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
                <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
            </a>
        <?php endif; ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?php echo $block->escapeHtml(__('Clear Shopping Cart')); ?>"
                class="action clear" id="empty_cart_button">
            <span><?php /* @escapeNotVerified */ echo __('Clear Shopping Cart'); ?></span>
        </button>
    </div>
</form>
<div class="cart-store-pick-up">
	<input type="checkbox" class="open-pop-up" />
	<p>Pick up your orders from one of our stores</p>
	<span class="pick-up-help-button">?</span>
	<div class="pick-up-help-info" style="display: none;">
		<strong>Store Pick-up:</strong>
		<p>Pay through our online checkout process and pick up your order from one of our stores. Your pick up store is where you will pick up all the items in your order. You'll select your pick-up store when you check the box.</p>
	</div>
	<script>
		jQuery(document).ready(function(){
			jQuery(".pick-up-help-button").hover(function(){
				jQuery(".pick-up-help-info").toggle();
			});
		});
	</script>
</div>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>

