<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php $_order = $block->getOrder() ?>
<div class="admin__table-wrapper">
    <table class="data-table admin__table-primary edit-order-table">
        <thead>
            <tr class="headings">
                <th class="col-thumbnail">
                    <span><?php echo $block->escapeHtml(__('Thumbnail')) ?></span>
                </th>
                <th class="col-product">
                    <span><?php echo $block->escapeHtml(__('Product')) ?></span>
                </th>
                <th class="col-status">
                    <span><?php echo $block->escapeHtml(__('Item Status')) ?></span>
                </th>
                <th class="col-price-original">
                    <span><?php echo $block->escapeHtml(__('Original Price')) ?></span>
                </th>
                <th class="col-price">
                    <span><?php echo $block->escapeHtml(__('Price')) ?></span>
                </th>
                <th class="col-ordered-qty">
                    <span><?php echo $block->escapeHtml(__('Qty')) ?></span>
                </th>
                <th class="col-subtotal">
                    <span><?php echo $block->escapeHtml(__('Subtotal')) ?></span>
                </th>
                <th class="col-tax-amount">
                    <span><?php echo $block->escapeHtml(__('Tax Amount')) ?></span>
                </th>
                <th class="col-tax-percent">
                    <span><?php echo $block->escapeHtml(__('Tax Percent')) ?></span>
                </th>
                <th class="col-discont">
                    <span><?php echo $block->escapeHtml(__('Discount Amount')) ?></span>
                </th>
                <th class="col-total last">
                    <span><?php echo $block->escapeHtml(__('Row Total')) ?></span>
                </th>
            </tr>
        </thead>
        <?php $_items = $block->getItemsCollection(); ?>
        <?php $i = 0; ?>
        <?php foreach ($_items as $_item) : ?>
            <?php if ($_item->getParentItem()) {
                continue;
            } else {
                $i++;
            } ?>
            <tbody class="<?php /* @escapeNotVerified */ echo $i%2 ? 'even' : 'odd' ?>">
                <?php echo $block->getItemHtml($_item) ?>
                <?php echo $block->getItemExtraInfoHtml($_item) ?>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>
