<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var $block \Magento\Reports\Block\Product\Viewed
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$RatingOb=$objectManager->create("Magento\Review\Model\Review");
$RatingOb=$objectManager->get("Magento\Review\Model\ReviewFactory");
//$bestseller = $objectManager->get('\Kensium\Productcollection\Block\Bestseller');
if ($exist = ($block->getRecentlyViewedProducts() && $block->getRecentlyViewedProducts()->getSize())) {
    $type = 'widget-viewed';
    $mode = 'grid';

    $type = $type . '-' . $mode;

    $image = 'recently_viewed_products_grid_content_widget';
    $title = __('Recently Viewed Items');
    $items = $block->getRecentlyViewedProducts();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $rating = 'short';
    $description = ($mode == 'list') ? true : false;
}
?>
<?php if ($exist):?>

    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <?php if ($title):?>
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
            
            <div class="owl-carousel margin-tp-50 owl-theme owl-loaded" id="<?php echo $type ?>-carousel">
			<?php $iterator = 1; ?>
			<?php foreach ($items as $_item): ?>
					<div class="item homefeaturedproduct">
						<div class="product-item-info" data-container="product-grid">
							<a href="<?php echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo" tabindex="-1"><?php echo $block->getImage($_item, $image)->toHtml(); ?></a>
							<div class="product details product-item-details">
								<div class="brand-name">
									<?php 
										$attr = $_item->getResource()->getAttribute('manufacturer');
										if ($attr->usesSource()) {
											echo $optionText = $attr->getSource()->getOptionText($_item->getManufacturer());
										}
									?>
								</div>
								<a class="product-item-link" href="<?php //echo $block->getProductUrl($_item) ?>">
									<strong class="product name product-item-name">
										<?php echo $block->escapeHtml($_item->getName()) ?>
									</strong>
								</a>
								<?php /* @escapeNotVerified */ echo $block->getProductPrice($_item); ?>
							</div>
							<?php
								$product=$objectManager->create("Magento\Catalog\Model\Product")->load($_item->getId());
								$RatingOb->create()->getEntitySummary($product, 1);      
							?>
							<?php if($product->getRatingSummary()->getRatingSummary()): ?>
							<div class="product-reviews-summary">
								<div class="rating-summary">
									<span class="label">
										<span>Rating:</span>
									</span>
									<div class="rating-result" title="<?php echo $product->getRatingSummary()->getRatingSummary() ?>%">
										<span style="width: <?php echo $product->getRatingSummary()->getRatingSummary() ?>%;">
											<span>
												<span><?php echo $product->getRatingSummary()->getRatingSummary() ?></span>% of <span>100</span>
											</span>
										</span>
									</div>
								</div>
							</div>
							<?php endif; ?>
<!--
							<div class="product-labels">
								<?php //if($bestseller->getIsNew($_item)): ?>
									<button class="button sale"><span><span>New</span></span></button>
								<?php //endif; ?>
								<?php //if($_item->getIsSale()): ?>
									<button class="button sale"><span><span>Sale</span></span></button>
								<?php //endif; ?>
								<?php //if($bestseller->getIsBestSeller($_item)): ?>
									<button class="button sale"><span><span>Best Seller</span></span></button>
								<?php //endif; ?>
							</div>
-->
						</div>
					</div>
				<?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
			<?php endforeach ?>
            </div>
        </div>
    </div>
    <script>
    jQuery(document).ready(function() {
		var type = '#'+'<?php echo $type ?>'+'-carousel';

      jQuery(type).owlCarousel({
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            margin: 10,
            nav: true,
            navText: ["&lt;em class='porto-icon-left-open-huge' title='previous'&gt;&lt;/em&gt;","&lt;em class='porto-icon-right-open-huge' title='next'&gt;&lt;/em&gt;"],
            dots: false,
            navRewind: true,
            animateIn: 'fadeIn',
            animateOut: 'fadeOut',
            loop: true,
            responsive: {
                0: {
                    items:1
                },
               480: {
                    items:2
                },
                768: {
                    items:3
                },
                992: {
                    items:4
                },
                1200: {
                    items:5
                }
            }
        });

    });
    </script>
<?php endif;?>
