<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$requestInterface = $objectManager->get('Magento\Framework\App\RequestInterface');
$fullaction = $requestInterface->getFullActionName();?>
<?php if ($fullaction == 'cms_index_index'): ?>
    <span class="base"  data-title="Home" style="display: none">Home</span>
    <div class="homepage-hero-banner">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('homepage-banner')->toHtml();?>
    </div>
<?php endif; ?>



