<div class="brands-section">
	<div class="popular-brands">
		<h1>Popular Brands</h1>
		<?php 
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$brands = $objectManager->get('\Emizentech\ShopByBrand\Block\Index');
			$featured = $brands->getFeaturedBrands();
			$media = $brands->getImageMediaPath();
			$count = 0;
		?>
		<ul>
			<?php foreach($featured as $_fbrand):?>
			<?php if($count == 9) break; ?>
			<li>
				<span></span>
				<?php if($_fbrand->getUrlKey()):?>
					<a href="<?php echo $brands->getUrl('brand').$_fbrand->getUrlKey()?>">
				<?php else:?>
					<a href="<?php echo $brands->getUrl('brand/view/',array('id'=>$_fbrand->getId()));?>">
				<?php endif;?>
				<?php if($_fbrand->getLogo()):?>
					<img class="f-barnd-img" src="<?php echo $media.$_fbrand->getLogo() ?>" title="<?php echo $_fbrand->getName();?>" alt="<?php echo $_fbrand->getName();?>" style="height:100px"/>
				<?php else:?>
				<li class="brand-title">
					<?php echo $_fbrand->getName();?>
				</li>
				<?php endif;?>
					</a>
			</li>
			<?php $count++; ?>
			<?php endforeach;?>
		</ul>
	</div>
	<div class="button-blk">
		<div class="green-btn button"><a href="<?php echo $this->getUrl('brand');?>">See all brands</a></div>
	</div>
</div>
