<?php if(count($block->getSaleProducts())): ?>
	<?php
		$_productCollection = $block->getSaleProducts();
		$_helper = $this->helper('Magento\Catalog\Helper\Output');
		$viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $listblock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
	?>
	
	<div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $listblock->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?php echo $productImage->toHtml(); ?>
                    </a>
                    <?php echo $listblock->getProductDetailsHtml($_product); ?>
                    <div class="product details product-item-details">
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php echo $listblock->stripTags($_product->getName(), null, true); ?>
                            </a>
                        </strong>
                        <?php /* @escapeNotVerified */ echo $listblock->getProductPrice($_product) ?>                        
                        <?php echo $listblock->getReviewsSummaryHtml($_product, $templateType); ?>
                        <div class="product-labels">
							<?php if($block->getIsNew($_product)): ?>
								<button class="button sale"><span><span>New</span></span></button>
							<?php endif; ?>
							<?php if($_product->getIsSale()): ?>
								<button class="button sale"><span><span>Sale</span></span></button>
							<?php endif; ?>
							<?php if($block->getIsBestSeller($_product)): ?>
								<button class="button sale"><span><span>Best Seller</span></span></button>
							<?php endif; ?>
						</div>
                        
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
	
	
	
	
	
	
	
<?php else: ?>
	<div class="message info empty">
		<div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div>
	</div>
<?php endif; ?>
