<?php
/**
 * @codingStandardsIgnoreFile
 *
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Magento\Search\Helper\Data $helper
 * @var \Wyomind\Elasticsearch\Helper\Data $wyoHelper
 * @var \Wyomind\Elasticsearch\Helper\Tax $taxHelper
 * @var \Wyomind\Elasticsearch\Helper\Autocomplete $autocompleteHelper
 */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$context = $objectManager->get('Magento\Framework\App\Http\Context');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$listCompareBlock = $objectManager->get('\Magento\Catalog\Block\Product\Compare\ListCompare');
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customerVisitor = $objectManager->get('\Magento\Customer\Model\Visitor');
$compareProducts = $objectManager->create('Magento\Catalog\Model\Product\Compare\ListCompare');
$rmaHelper       = $objectManager->get('\Magento\Rma\Helper\Data');
if($customerSession->isLoggedIn()) 
{
   $compProducts = $compareProducts->getItemCollection()->setCustomerId($customerSession->getCustomerId());
}
else
{
    $compProducts = $compareProducts->getItemCollection()->setVisitorId($customerVisitor->getId()); 
}
$count = 0;
foreach($compProducts->getData() as $item )
{
    
    $eachProduct  = $objectManager->create('\Magento\Catalog\Model\Product')->load($item['product_id']);
    if($eachProduct->isSalable() == 1 && $eachProduct->getVisibility() > 1)
    $count = $count+1;
}
$compProdCount = $count;
?>
<div class="dropdown user user-menu">

                <span   class="counter compare-count" <?php if ($compProdCount <=0 ) { echo "style='display:none;'"; } ?> >
                    <span  class="compare-number" id="idcompproddiv"><?php echo $compProdCount; ?></span>
                </span>
    <!-- Menu Toggle Button -->
    <?php
    $name = '';
    if($customerSession->isLoggedIn()) {
        $name =  $customerSession->getCustomer()->getFirstname();
      } else {
        $name = 'My Account';
    }?>
    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
        <!-- The user icon in the navbar--><!--<img src="" alt="<?php /*echo __('Call'); */?>" title="<?php /*echo __('Call'); */?>" width="35" height="35" />-->
        <i class="icon-user user-image"></i>
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs"><?php echo $name; ?></span><i class="icon-arrow-down user-image hidden-xs"></i>
    </a>
    <div class="compare-dropdown " style="position:absolute;display:none;"  id="idprodcompmaindiv" >
        <span class="icon-close" id="idspanclosecomp" ></span>
        <div class="block-title"> Comparison List</div>
        <li class="divider"></li>
        <div style="display:none;"  class="rmdsuccsprod" >
            <div class="block-title">Removed Successfully.</div>
            <li class="divider"></li>
        </div>

        <div id="idprodcomparedetdiv" >

        </div>
        <li class="divider"></li>
        <div class = 'limitclsred' style="display:none;">

            <span style="color:red;"  >Limit Reached(4):</span><span>The next item will bump the first off the list.</span><a href = '#'></a>
        </div>
        <div class="viewcompdiv" >
            <a class = 'button view-compare' href = "<?php echo $this->getUrl('catalog/product_compare/index/');?>">View Comparison</a>
        </div>
    </div>
    <!--second -->
    <div class="dropdown-menu">
        <span class="icon-close visible-xs"></span>
        <ul>
            <?php if($customerSession->isLoggedIn()): ?>
				<li class="login-color visible-xs">
					<a href="javascript:void(0)">Hello, <?php echo $name;?></a>
                </li>
                <li>
					<a href="<?php echo $this->getUrl('customer/account/');?>">Dashboard</a>
                </li>
                <li>
                    <a href="<?php echo $this->getUrl('customer/address/index/');?>">Address Book</a>
                </li>
                <li>
                    <a href="<?php echo $this->getUrl('review/customer/');?>">Product Reviews</a>
                </li>
                <li>
                    <a href="<?php echo $this->getUrl('sales/order/history/');?>">Order History</a>
                <li>
                <li>
                    <a href="<?php echo $this->getUrl('wishlist/');?>">Wish List</a>
                <li>
                <li>
                    <a href="<?php echo $this->getUrl('newsletter/manage/');?>">Newsletter Subscriptions</a>
                </li>
                <li>
                    <a href="<?php echo $this->getUrl('catalog/product_compare/index/');?>">Compare Products
						<?php if($compProdCount): ?>
							<span class="compare-count">(<?php echo $compProdCount ?>)</span>
						<?php endif; ?>
					</a>
                </li>
                <?php if($rmaHelper->isEnabled()): ?>
					<li>
						<a href="<?php echo $this->getUrl('rma/returns/history/');?>">Returns</a>
					</li>
				<?php endif; ?>
				<li>
					<a href="<?php echo $this->getUrl('customer/account/edit/');?>">Account Settings</a>
				</li>
				<li>
					<a href="<?php echo $this->getUrl('customer/account/logout');?>">Log out</a>
				</li>
            <?php else: ?>
                <li class="login-color">
                    <a href="<?php echo $this->getUrl('customer/account/login');?>">Log in</a>
                </li>
                <li>
                    <a href="<?php echo $this->getUrl('customer/account/create');?>">Create an account</a>
                </li>
                <li>
                    <a href="<?php echo $this->getUrl('catalog/product_compare/index/');?>">Compare Product</a>
                </li>
                <li class="divider"></li>
                <li>
                    <p> Personalize your experience with Wish Lists, Order Updates and Special Offers by creating an account.</p>
                </li>
            <?php endif; ?>

        </ul>
        <div class="leftnav-close visible-xs">
            <div class="divider"></div>
            <span class="button btn-close">Close</span>
        </div>
    </div>
</div>
<?php
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl  = $currentStore->getBaseUrl();
?>
<div class="home-store hidden-xs">
	<a href="<?php echo $this->getUrl('storelocator/index/index');?>">
		<i class="fa fa-home" aria-hidden="true"></i> Find your Home Store
	</a>
</div>
	
<script>
    mediaurl = "<?php echo $mediaUrl; ?>";
    baseurl  = "<?php echo $baseUrl; ?>";
</script>
